<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thyeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <title>GUKBIT</title>
    <div th:replace="fragments/head.html :: fragment-head"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/board.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/modal.css}"/>
    <script th:src="@{/js/board.js}"></script>
    <style>
        .table-content:not(:last-child) {
            border-bottom: 1px solid grey;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header.html :: fragment-header"></div>
<div class="container-fluid p-0 m-0">
    <div th:replace="fragments/nav.html :: fragment-nav"></div>
</div>


<section class="container">
    <article>
        <div class="tabmenu-wrapper">
            <div class="tab-content">
                <div class="tabmenu">
                    <ul class="tabmenu-ul">
                        <li id="tab1" class="btnCon">
                            <input type="radio" checked name="tabmenu" id="tabmenu1" onclick="location.href='/board/list/sortByDate'"/>
                            <label for="tabmenu1">전체 게시판</label>
                            <div class="tabCon">
                                <div class="d-flex sort">
                                    <div class="flex-grow-1"></div>
                                    <th>
                                        <form action="/board/list/sortByDate" method="GET">
                                            <input th:if="${academyCode}!=null" type="hidden" th:value = "${academyCode}" name="academyCode" >
                                            <input class="btn btn-link-dark" type="submit" value="최신순">
                                        </form>
                                    </th>
                                    <th>
                                        <form action="/board/list/sortByView" method="GET">
                                            <input th:if="${academyCode}!=null" type="hidden" th:value = "${academyCode}" name="academyCode" >
                                            <input class="btn btn-link-dark" type="submit" value="조회순">
                                        </form>
                                    </th>
                                    <th>
                                        <form action="/board/list/sortByRecommend" method="GET">
                                            <input th:if="${academyCode}!=null" type="hidden" th:value = "${academyCode}" name="academyCode" >
                                            <input class="btn btn-link-dark" type="submit" value="추천순">
                                        </form>
                                    </th>
                                </div>
                                <div class="board-category-wrapper mb-2">
                                    <table class="board-category">
                                        <thead>
                                        <tr class="text-center">
                                            <th>No</th>
                                            <th>제목</th>
                                            <th>글쓴이</th>
                                            <th>작성시간</th>
                                            <th>조회수</th>
                                            <th>추천수</th>
                                        </tr>
                                        </thead>

                                        <tbody class="table-content" th:each="board : ${boardList}">
                                        <tr class="text-center">
                                            <td th:text="${board.bid}"></td>
                                            <td class="text-start ps-5">
                                                <div class="d-flex" style="height: 30px; font-size: 17px;">
                                                        <i class="bi bi-book"></i>&nbsp;
                                                        <span th:text="${board.bAcademyName}"></span>
                                                        &nbsp;>&nbsp;
                                                        <span th:text="${board.bCourseName}"></span>
                                                </div>
                                                <div class="d-flex align-content-center flex-wrap"
                                                    style="height: 30px; font-size: 20px;" th:with="bid=${board.bid}">
                                                    <a class="board-title" th:text="${board.title}"
                                                    th:href=@{/board/details/boardView(idx=${board.bid})}></a>&nbsp;
                                                    <span th:text="|(${@replyService.countAllReply(bid)})|" style="font-size: 15px; color: #0059ab;"></span>
                                                </div>
                                            </td>
                                            <td style="font-size: 17px" th:with="author = ${board.author}">
                                                <span th:text="${board.author}"></span>
                                                <span th:if="${@boardService.findAuthByUserId(author)==true}" class="bi bi-bookmark-check"/></td>
                                            <td style="font-size: 17px"
                                                th:if="${board.date.substring(0,10)} == ${Today.today}"
                                                th:text="${board.date.substring(10)}"
                                            ></td>
                                            <td style="font-size: 17px"
                                                th:unless="${board.date.substring(0,10)} == ${Today.today}"
                                                th:text="${board.date.substring(0,10)}"
                                            ></td>
                                            <!--                                            th:text="${board.date} ? ${#temporals.format(board.date,'yyyy-MM-dd HH:mm')}-->
                                            <!--                                            : ${board.date}"-->
                                            <td style="font-size: 17px;" th:text="${board.view}"></td>
                                            <td style="font-size: 17px;" th:text="${board.recommend}"></td>
                                        </tr>
                                        </tbody>

                                    </table>
                                </div>
                                <br>
                                <!-- Pagination -->
                                <div class="row">
                                    <div class="col-3"></div>
                                    <nav
                                        class="col-6 d-flex justify-content-center"
                                        aria-label="Page navigation"
                                        style="text-align: center"
                                    >
                                        <ul
                                            class="pagination"
                                            th:with="startNumber=${T(java.lang.Math).floor(boardList.number/10)}*10+1, endNumber=(${boardList.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${boardList.totalPages}"
                                        >
                                            <li class="page-item">
                                                <a th:if="${academyCode}==null" class="page-link" aria-label="Previous" th:href="@{/board/list/}+${checkParam}+'?page=1'" >&laquo;</a>
                                                <a th:if="${academyCode}!=null" class="page-link" aria-label="Previous" th:href="@{/board/list/}+${checkParam}+'?page=1'+'&academyCode='+${academyCode}" >&laquo;</a>
                                            </li>
                                            <li class="page-item" >
                                                <a th:if="${academyCode}==null" class="page-link" th:href="${boardList.first}==true ? '' : @{/board/list/}+${checkParam}+'?page='+${boardList.number}">&lsaquo;</a>
                                                <a th:if="${academyCode}!=null" class="page-link" th:href="${boardList.first}==true ? '' : @{/board/list/}+${checkParam}+'?page='+${boardList.number}+'&academyCode='+${academyCode}">&lsaquo;</a>
                                            </li>
                                            <li
                                                class="page-item"
                                                th:each="page :${#numbers.sequence(startNumber, endNumber)}"
                                                th:class="(${page} == ${boardList.number}+1) ? 'active'"
                                            >
                                                <span th:if="${page}!='0'">
                                                    <a th:if="${academyCode}==null" class="page-link page-number" th:href="@{/board/list/}+${checkParam}+'?page='+${page}"th:text="${page}"></a>
                                                    <a th:if="${academyCode}!=null" class="page-link page-number" th:href="@{/board/list/}+${checkParam}+'?page='+${page}+'&academyCode='+${academyCode}"th:text="${page}"></a>
                                                </span>

                                            </li>
                                            <li class="page-item" >
                                                <a th:if="${academyCode}==null" class="page-link" th:href="${boardList.last}==true ? '' : @{/board/list/}+${checkParam}+'?page='+${boardList.number+2}">&rsaquo;</a>
                                                <a th:if="${academyCode}!=null" class="page-link" th:href="${boardList.last}==true ? '' : @{/board/list/}+${checkParam}+'?page='+${boardList.number+2}+'&academyCode='+${academyCode}">&rsaquo;</a>
                                            </li>
                                            <li class="page-item">
                                                <a
                                                    th:if="${academyCode}==null"
                                                    class="page-link"
                                                    aria-label="Next"
                                                    th:href="@{/board/list/}+${checkParam}+'?page='+${boardList.totalPages}"
                                                >
                                                    &raquo;
                                                </a>
                                                <a
                                                    th:if="${academyCode}!=null"
                                                    class="page-link"
                                                    aria-label="Next"
                                                    th:href="@{/board/list/}+${checkParam}+'?page='+${boardList.totalPages}+'&academyCode='+${academyCode}"
                                                >
                                                    &raquo;
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <!-- /Pagination -->
                                    <div sec:authorize="hasRole('ROLE_AUTH')"
                                          th:with="paramAcademyCode = ${#request.getParameter('academyCode')}==null?'': ${#request.getParameter('academyCode')},
                                                    userAuthdata = ${@userService.getAuthUserData(#authentication.getPrincipal().getUsername())}"
                                         class="col-3 d-flex justify-content-end">
                                        <div th:if="${userAuthdata.academyCode==paramAcademyCode} or ${academyCode==null}"
                                             class="w-100">
                                            <button class="btn btn-primary w-75 my-2 write-btn"
                                                    onclick="location.href='/board/write'">
                                                글 작성
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li id="tab2" class="btnCon">
                            <input type="radio" name="tabmenu" id="tabmenu2"/>
                            <label for="tabmenu2">학원별 게시판</label>
                        </li>
                    </ul>
                </div>
            </div>
            <br/>
        </div>
    </article>

    <div class="modal">
        <div class="modal_content">
            <span class="modalClose">X</span> <br><br>
            <span class="modalTitle">찾으시고자 하는 학원의 이름을 입력해주세요</span>
                <input type="text" id="modalSearch_academy" placeholder="학원 이름을 입력해주세요">
                <button class="submit bi bi-search" id="modalSearch_start"
                        style="border: none; background: none; font-size: 14px"></button>
            <hr id="hr_divide">
            <!-- 결과 출력 위치 -->
            <div class="modalSearchResult">
                <table id="academyTable">
                    <thead id="academyTableHead">
                    <tr>
                        <th id="academyName">학원명</th>
                        <th id="academyAddress">학원 주소</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div th:replace="fragments/footer.html :: fragment-footer"></div>
</div>
<script>

</script>
<script th:src="@{/js/navigo.js}"></script>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
></script>
<script th:src="@{/js/modal.js}"></script>
</body>
</html>
