<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>과정인증</title>
    <div th:replace="fragments/head.html :: fragment-head"></div>
</head>
<body>
<section class="container text-center">
    <div class="mt-5">
        <form th:action="@{/admin/auth}" method="post">
            <a th:href="${PreAuthUserData.uploadFilePath}"
               onclick="window.open(this.href, '_blank', 'width=800, height=600'); return false;">
                <img th:src="'/image/fileName/'+*{PreAuthUserData.saveFileName}"
                     style="width:200px; height:100px; border:2px solid; border-radius: 4px">
            </a>
            <br/>
            <input type="hidden" name="authId" th:value="${PreAuthUserData.aid}">
            <input name="academyCode" th:value="${PreAuthUserData.academyCode}" readonly>
            <input name="courseId" th:value="${PreAuthUserData.courseId}" readonly>
            <input name="session" th:value="${PreAuthUserData.session}" readonly>
            <input name="courseName" th:value="${PreAuthUserData.courseName}" readonly>
            <br/>
            <div class="d-flex justify-content-center">
                <input class="w-50" type="submit" th:value="승인">
            </div>
        </form>
    </div>
</section>
<script th:inline="javascript">

</script>
</body>
</html>