<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>비밀번호 찾기</title>
    <div th:replace="fragments/head.html :: fragment-head"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/find-id-pw.css}" />
</head>

<body>
    <div class="container justify-content-center align-items-center" id="wrapped-all">
        <header class="text-center" style="margin-bottom: 50px">
            <a href="/" style="text-decoration: none;"><span
                    style="font-weight: bold; color: black;">GUKB</span><span
                    style="font-weight: bold; color: #01a0ff;">IT</span></a>
        </header>
        <div class="d-flex align-items-end justify-content-start" id="nav-find">
            <h1>비밀번호 찾기</h1>
        </div>
        <div class="wrapped-findform" style="height: 220px;">
            <h5>회원정보에 등록한 휴대전화로 인증</h5>
            <div class="justify-content-center align-items-center justify-content-start wrapped-find-input">
                <div class="d-flex justify-content-center align-items-center">
                    <i class="bi bi-phone"></i>
                    <h1 class="d-flex justify-content-center align-items-center find-param">전화번호</h1>
                    <input type="text" class="find-input"><button class="btn btn-primary find-button" type="button">인증번호
                        받기</button>
                </div>
                <div class="d-flex auth-form" style="padding-left: 41px;">
                    <i class="bi bi-arrow-right-circle"></i>
                    <h1 class="d-flex justify-content-center align-items-center find-param">인증번호</h1>
                    <input type="text" class="auth-input" placeholder="인증번호 6자리 숫자 입력">
                </div>
                <div class="d-flex justify-content-center">
                    <a class="btn" href="#" type="submit"><b>확인</b></a>
                </div>
            </div>
        </div>
        <div class="wrapped-findform" style="height: 220px;">
            <h5>회원정보에 등록한 이메일로 인증</h5>
            <div class="justify-content-center align-items-center justify-content-start wrapped-find-input">
                <div class="d-flex justify-content-center align-items-center">
                    <i class="bi bi-envelope"></i>
                    <h1 class="d-flex justify-content-center align-items-center find-param">이메일 주소</h1>
                    <input type="text" class="find-input"><button class="btn btn-primary find-button" type="button">인증번호
                        받기</button>
                </div>
                <div class="d-flex auth-form" style="padding-left: 41px;">
                    <i class="bi bi-arrow-right-circle"></i>
                    <h1 class="d-flex justify-content-center align-items-center find-param">인증번호</h1>
                    <input type="text" class="auth-input" placeholder="인증번호 6자리 숫자 입력">
                </div>
                <div class="d-flex justify-content-center">
                    <a class="btn" href="#" type="button"><b>확인</b></a>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn" href=".." type="button"><b>취소</b></a>
        </div>
        <div th:replace="fragments/footer.html :: fragment-footer"></div>
    </div>
    </div>
</body>

</html>