<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>비밀번호 찾기</title>
    <div th:replace="fragments/head.html :: fragment-head"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/find-id-pw.css}" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
    <div class="container justify-content-center align-items-center" id="wrapped-all">
        <header class="text-center" style="margin-bottom: 50px">
            <a href="/" style="text-decoration: none;"><span
                    style="font-weight: bold; color: black;">GUKB</span><span
                    style="font-weight: bold; color: #01a0ff;">IT</span></a>
        </header>
        <div class="d-flex align-items-end justify-content-start" id="nav-find">
            <h1>비밀번호 재설정</h1>
        </div>
        <form class="wrapped-findform" style="height: 200px;" method="post" th:action="@{/find/changePw}">
            <h5 style="margin-bottom: 20px;">비밀번호를 다시 설정해주세요</h5>
            <div class="d-flex justify-content-center align-items-center">
                <i class="bi bi-lock"></i>
                <h1 class="d-flex justify-content-center align-items-center find-param" style="width: 100px;">비밀번호</h1>
                <input type="hidden" th:value="${userId}" th:name="id" id="id">
                <input type="password" class="find-input" th:name="password" id="password" style="width: 250px;" placeholder="6자 이상 12자 이하의 영문과 숫자">
            </div>
            <div class="d-flex justify-content-center align-items-center" style="margin-top: 10px;">
                <i class="bi bi-lock"></i>
                <h1 class="d-flex justify-content-center align-items-center find-param" style="width: 100px;">비밀번호 확인</h1>
                <input type="password" class="find-input" id="passwordVal" style="width: 250px;" placeholder="비밀번호를 다시 한 번 입력해주세요.">
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn" id="pwSubmit" type="submit"><b>확인</b></button>
            </div>
        </form>
        <div th:replace="fragments/footer.html :: fragment-footer"></div>
    </div>
    <script th:src="@{/js/user/find-pw-success.js}"></script>
</body>

</html>