<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>GUKBIT-LOGIN</title>
  <div th:replace="fragments/head.html :: fragment-head"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
  <script th:src="@{/js/login.js}"></script>
</head>

<body>
<header class="text-center" style="margin-bottom: 50px">
  <a href="/" style="text-decoration: none;"><span
      style="font-weight: bold; color: black;">GUKB</span><span
      style="font-weight: bold; color: #01a0ff;">IT</span></a>
</header>

<section class="login-clean">
  <form
      method="post"
      th:action="@{/login}"
      th:object="${loginData}"
      style="border: 1px solid lightgray; border-radius: 5px"
      id="logFrm">
    <!--      onsubmit="return logFormCheck()"-->
    <h2 class="visually-hidden">Login Form</h2>


    <div class="mb-1" style="position: relative">
      <input class="form-control" type="text" placeholder="아이디" th:field="*{id}"
             th:errorclass="field-error"/>
      <div class="icon">
        <span class="material-icons">person_outline</span>
      </div>
      <div class="field-error" th:errors="*{id}">
      </div>
    </div>
    <div class="mb-2" style="position: relative">
      <input class="form-control" type="password" placeholder="비밀번호" th:field="*{pw}"
             th:errorclass="field-error"/>
      <div class="icon">
        <span class="material-icons">lock</span>
      </div>
      <div class="field-error" th:errors="*{pw}">
      </div>
    </div>
    <div style="float: left">
      <button class="btn btn-primary" type="submit">로그인</button>
    </div>
    <div style="float: right">
      <input type="button" class="btn btn-secondary" value="회원가입" onclick="location.href='/signUp';">
    </div>
  </form>
</section>

<div class="container">
  <div th:replace="fragments/footer.html :: fragment-footer"></div>
</div>
</body>
</html>
