<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>과정인증</title>
  <div th:replace="fragments/head.html :: fragment-head"></div>
  <link rel="stylesheet" th:href="@{/css/mypage.css}" type="text/css"/>
  <script th:src="@{/js/header.js}"></script>
</head>
<body>
<section class="container text-center">
  <div class="ui_box">
    <div class="userInfo_myPage">수강 인증</div>
    <hr>
    <form class="userInfo" id="ocrForm" th:action="@{/user/mypage/savePreAuthUser}" method="post" enctype="multipart/form-data">
      <div class="userInfo_row">
        <span class="userInfo_title">사진 인증</span>
        <input id="ocrFile" name="ocrFile" type="file" accept="image/*">
        <input class="userInfoBtn" onclick="imageOcr()" type="button" value="사진 검증">
      </div>
      <div class="userInfo_row" id="imgViewArea" style="display:none ;">
        <img id="imgArea" style="width:200px; height:100px; border:2px solid; border-radius: 4px" onerror="imgAreaError()"/>
      </div>
      <div class="userInfo_row">
        <span class="userInfo_title">과정ID</span>
        <input class="userInfo_field" id="courseId" name="courseId" type="text" style="flex: none; width: 230px"/>
      </div>
      <div class="userInfo_row">
        <span class="userInfo_title">회차</span>
        <input class="userInfo_field" id="session" name="session" type="text" style="flex: none; width: 230px"/>
      </div>
      <div class="userInfo_row" id="ocrInfoComment" style="display: block;  color: red"></div>
      <input class="userInfoBtn" id="ocrSubmit" value="인증 요청" style="margin: 10px 0px;">
    </form>
  </div>
</section>
<script th:inline="javascript">
  $("#ocrFile").on("change", function (e) {
    var tmp = e.target.files[0];
    var img = URL.createObjectURL(tmp);
    $("#imgViewArea").css('display', 'block');
    $("#imgArea").attr("src", img);
  });

  function imgAreaError() {
    $('#imgArea').css({'display': 'none'});
  }

  function imageOcr() {
    const Toast = Swal.mixin({
      toast: true,
      position: 'center',
      showConfirmButton: false,
      timer: 1000,
      timerProgressBar: true,
    })

    var file = $('#ocrFile')[0].files[0]
    var formData = new FormData();
    formData.append("ocrFile", file);
    if (file) {
      $.ajax({
        method: 'post',
        url: '/user/mypage/ocr',
        data: formData,
        processData: false,
        contentType: false,
        success: function (data) {
          console.log(data)
          if(data.과정코드!==""){
            Toast.fire({
              icon: 'success',
              title: '파일 검증이 완료되었습니다.'
            })
            $('#courseId').val(data.과정코드)
            $('#session').val(data.회차)
            $('#ocrInfoComment').html('실제 과정ID/회차와 일치하는지 확인해주세요.<br>' +
                '만약 다르다면, 직접 수정 후 인증 요청해주세요.')
          } else {
            Toast.fire({
              icon: 'error',
              title: '과정코드를 찾지 못했습니다.'
            })
            $('#ocrInfoComment').html('첨부 사진을 다시 확인해주세요.<br>' +
                '사진에 문제가 없다면, 직접 입력 후 인증 요청해주세요.')
          }
        },
        error: function () {
          Toast.fire({
            icon: 'error',
            title: '서버와 통신을 실패했습니다.'
          })
        }
      })
    }
  }
  $(function() {
    $("#ocrSubmit").click( function(e) {
      const ocrFile = $('#ocrFile').val();
      console.log(ocrFile)
      const courseId = $('#courseId').val();
      console.log(courseId)
      const session = $('#session').val();
      console.log(session)
      if (ocrFile === "") {
        Swal.fire('', '사진을 첨부해주세요', 'info');
        return false;
      }
      if(courseId === ""){
        Swal.fire('', '과정ID를 입력해주세요', 'info');
        return false;
      }
      if(session === ""){
        Swal.fire('', '과정 회차를 입력해주세요', 'info');
        return false;
      }

        Swal.fire({
          title: '인증 요청',
          text: '인증을 요청하시겠습니까?',
          icon: 'info',
          showCancelButton: true,
          confirmButtonColor: '#0059ab',
          cancelButtonColor: '#606060',
          confirmButtonText: '요청',
          cancelButtonText: '취소'
        }).then((result) => {
          if (result.isConfirmed) {
            $('#ocrForm').submit();
            setTimeout(function () {
              window.open("about:blank","_self").close();
            }, 100);
          }
          window.opener.document.location.reload();
        })

      // Swal.fire('', '인증을 요청하시겠습니까?', 'question')
      // $('#ocrForm').submit();
      // setTimeout(function() {
      //   window.opener.document.location.reload();
      //   window.close();
      // }, 100);
    });
  });
</script>
</body>
</html>