<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>과정인증</title>
  <div th:replace="fragments/head.html :: fragment-head"></div>
  <link rel="stylesheet" th:href="@{/css/mypage.css}" type="text/css"/>
  <script th:src="@{/js/header.js}"></script>
</head>
<body>
<section class="container text-center" th:object="${preAuthUserData}">
  <div class="ui_box">
    <div class="userInfo_myPage">요청 내역</div>
    <hr>
    <div class="userInfo_row">
      <span class="userInfo_title">요청일시</span>
      <span class="userInfo_field" th:text="*{#temporals.format(registerDate,'yyyy-MM-dd HH:mm:ss')}"
      style="font-weight:bold; flex: none; text-align: start; width: 230px"></span>
    </div>
    <div class="userInfo_row">
      <span class="userInfo_title">첨부사진</span>
      <a th:href="@{/imageViewer(imageName=*{saveFileName})}" onclick="window.open(this.href, '_blank', 'width=800, height=600'); return false;">
        <img th:src="'/image/fileName/'+*{saveFileName}" style="width:200px; height:100px; border:2px solid; border-radius: 4px">
      </a>
    </div>
    <div class="userInfo_row">
      <span class="userInfo_title">과정명</span>
      <span class="userInfo_field" th:text="*{courseName}" style="flex: none; text-align: start; width: 230px"></span>
    </div>
    <div class="userInfo_row">
      <span class="userInfo_title">회차</span>
      <span class="userInfo_field" th:text="*{session}" style="flex: none; width: 230px;text-align: start"></span>
    </div>
    <input class="userInfoBtn" value="확인" style="margin: 10px 0px; cursor: pointer " onclick="window.close()">
  </div>
</section>
</body>
</html>