<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8"/>
  <title>GUKBIT</title>
  <div th:replace="fragments/head.html :: fragment-head"></div>
  <link rel="stylesheet" th:href="@{/css/board.css}" type="text/css"/>
  <script th:src="@{/js/header.js}"></script>
  <script th:src="@{/js/board.js}"></script>
  <style>

    .text-center:hover{
      background: none !important;
    }
    #userProfileImage{
      width:150px;
      height:150px;
      border-radius: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    #left-bar button:hover{
    background-color: lightgray;
    }
  </style>
</head>

<body>
<div th:replace="fragments/header.html :: fragment-header"></div>
<div class="container-fluid p-0 m-0">
  <div th:replace="fragments/nav.html :: fragment-nav"></div>
</div>

<section class="container" th:with="userId = ${#authentication.getPrincipal().getUsername()}">
  <div class="userInfo_myPage" style="font-size: 24px; text-align: center; padding: 10px 0;
margin: 20px 0px;">마이페이지</div>
  <div class="ui_box d-flex justify-content-center">
    <div class="d-flex justify-content-start flex-fill">
      <div id="left-bar" class="d-flex">
        <div class="d-flex flex-column" style="margin-right: 30px; max-width: 150px; text-align: center;">
          <a id="imgAreaATag" th:href="'/images/mypage/profile/'+ ${userInfo.profileImageName}" onclick="window.open(this.href, '_blank', 'width=800, height=600'); return false;">
          <img class="img-fluid img-thumbnail" id="userProfileImage" th:src="${userInfo.profileImageName}==null ? '/images/NoImage.png':'/image/fileName/'+${userInfo.profileImageName}" >
          </a>
          <button class="btn" type="button" style="margin: 7px 0px;" onclick="profilePopUp()">사진 변경&nbsp;<span class="bi bi-camera"></span></button>
          <div class="row" style="margin: 10px 0px;" th:with="checkUser=${@userService.checkUser(#authentication.getPrincipal())}">
            <span th:if="${checkUser.auth}=='1'"
                            style="color: darkgreen">인증유저&nbsp;<span class="bi bi-patch-check"></span></span>
            <span th:if="${checkUser.auth}=='0'"
                  style="color: gray">미인증유저&nbsp;<span class="bi bi-patch-exclamation"></span></span>
            <span th:if="${checkUser.auth}=='2'"
                  style="color: #0059ab;">인증중유저&nbsp;<span class="bi bi-patch-question"></span></span>
            <span><b>[[${userId}]]</b>님</span>

          </div>
          <hr>
          <button class="btn"
                  onclick="location.href='/user/mypageAuth'"
                  type="button">회원정보 수정</button>
          <button ; class="btn"
                  onclick="location.href='/user/mypageProfile/board'" type="button">내 글
          </button>
          <button ; class="btn"
                  onclick="location.href='/user/mypageProfile/reply'" type="button">내 댓글
          </button>
        </div>
      </div>
      <!--      좌측 회원탭 끝 -->
      <div id="right-content-board" class="d-flex flex-column flex-fill" style="height: 400px;" th:if="${checkParam}=='board'">
        <span style="text-align: left; margin-bottom: 20px;font-size: 20px;">
          <b>[[${userId}]]</b>님의 커뮤니티 글 목록입니다.</span>
        <div class="table-responsive board-category-wrapper mb-2">
          <table class="table board-category" style="vertical-align: middle">
            <thead>
            <tr class="text-center">
              <th>No</th>
              <th>제목</th>
              <th>작성일시</th>
              <th>조회수</th>
              <th>추천수</th>
            </tr>
            </thead>
            <tbody th:each="userBoard : ${userBoard}">
            <tr class="text-center">
              <td th:text="${userBoard.bid}"></td>
              <td class="text-start ps-5">
                <div class="d-flex" style="height: 30px; font-size: 17px;">
                  <i class="bi bi-book"></i>&nbsp;
                  <span th:text="${userBoard.bAcademyName}"></span>
                  &nbsp;>&nbsp;
                  <span th:text="${userBoard.bCourseName}"></span>
                </div>
                <div class="d-flex align-content-center flex-wrap"
                     style="height: 30px; font-size: 20px;" th:with="bid=${userBoard.bid}">
                  <a class="board-title" th:href=@{/board/details/boardView(idx=${userBoard.bid})}
                     th:text="${userBoard.title}"></a>&nbsp;
                  <span style="font-size: 15px; color: #0059ab;"
                        th:text="|(${@replyService.countAllReply(bid)})|"></span>
                </div>
              </td>
              <td style="font-size: 17px"
                  th:if="${userBoard.date.substring(0,10)} == ${today.today}"
                  th:text="${userBoard.date.substring(10)}"
              ></td>
              <td style="font-size: 17px"
                  th:text="${userBoard.date.substring(0,10)}"
                  th:unless="${userBoard.date.substring(0,10)} == ${today.today}"
              ></td>
              <!--                                            th:text="${board.date} ? ${#temporals.format(board.date,'yyyy-MM-dd HH:mm')}-->
              <!--                                            : ${board.date}"-->
              <td style="font-size: 17px;" th:text="${userBoard.view}"></td>
              <td style="font-size: 17px;" th:text="${userBoard.recommend}"></td>
            </tr>
            </tbody>
          </table>
        </div>
        <br>
        <!-- 글목록 Pagination -->
        <div class="row">
          <div class="col-3"></div>
          <nav aria-label="Page navigation" class="col-6 d-flex justify-content-center" style="text-align: center">
            <ul class="pagination"
                th:with="startNumber=${T(java.lang.Math).floor(userBoard.number/10)}*10+1,
                endNumber=(${userBoard.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${userBoard.totalPages}">
              <li class="page-item">
                <a aria-label="Previous" class="page-link" href="/user/mypageProfile/board?page=1">&laquo;</a>
              </li>
              <li class="page-item">
                <a class="page-link" th:href="${userBoard.first}==true ?
                '' : @{/user/mypageProfile/board(page=${userBoard.number})}">&lsaquo;</a>
              </li>
              <li class="page-item" th:each="page :${#numbers.sequence(startNumber, endNumber)}"
                  th:class="(${page} == ${userBoard.number}+1) ? 'active'">
                <a th:if="${page}!='0'" class="page-link page-number" th:href="@{/user/mypageProfile/board(page=${page})}"
                   th:text="${page}"></a>
              </li>
              <li class="page-item">
                <a class="page-link"
                   th:href="${userBoard.last}==true ? '': @{/user/mypageProfile/board(page=${userBoard.number}+2)}">&rsaquo;</a>
              </li>
              <li class="page-item">
                <a
                    aria-label="Next"
                    class="page-link"
                    th:href="@{/user/mypageProfile/board(page=${userBoard.totalPages})}"
                >
                  &raquo;
                </a>
              </li>
            </ul>
          </nav>
        </div>
<!--        글목록 /pagination -->
      </div>
<!--      회원 글목록 끝 -->
      <div id="right-content-reply" class="d-flex flex-column flex-fill" style="height: 400px;" th:if="${checkParam}=='reply'">
        <span style="text-align: left; margin-bottom: 20px;font-size: 20px;">
          <b>[[${userId}]]</b>님의 커뮤니티 댓글 목록입니다.</span>
        <div class="table-responsive board-category-wrapper mb-2">
          <table class="table board-category" style="vertical-align: middle">
            <thead>
            <tr class="text-center">
              <th>No</th>
              <th>내용</th>
              <th>작성일시</th>
            </tr>
            </thead>
            <tbody th:each="userReply : ${userReply}">
            <tr class="text-center">
              <td rowspan='2' th:text="${userReply.rid}"></td>
              <td class="text-start">
                <div class="d-flex align-content-center flex-wrap"
                     style="height: 30px; font-size: 20px;" th:with="bid=${userReply.RBid}">
                  <i class="bi bi-card-text"></i>&nbsp;
                  <a class="board-title" th:href=@{/board/details/boardView(idx=${userReply.RBid})}
                     th:text="${@boardService.findBoardByIdx(bid).title}"></a>&nbsp;
                  <span style="font-size: 15px; color: #0059ab;"
                        th:text="|(${@replyService.countAllReply(bid)})|"></span>
                </div>
              </td>
              <td rowspan='2' style="font-size: 17px"
                  th:if="${userReply.RDate.substring(0,10)} == ${today.today}"
                  th:text="${userReply.RDate.substring(10)}"
              ></td>
            </tr>
            <tr class="text-center">
              <td class="text-start">
                <i class="bi bi-arrow-return-right"></i>
                <a class="board-title" th:href=@{/board/details/boardView(idx=${userReply.RBid})}
                   th:text="${userReply.RContent}"></a>&nbsp;
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <br>
        <!-- 댓글 Pagination -->
        <div class="row">
          <div class="col-3"></div>
          <nav aria-label="Page navigation" class="col-6 d-flex justify-content-center" style="text-align: center">
            <ul class="pagination"
                th:with="startNumber=${T(java.lang.Math).floor(userReply.number/10)}*10+1,
                endNumber=(${userReply.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${userReply.totalPages}">
              <li class="page-item">
                <a aria-label="Previous" class="page-link" href="/user/mypageProfile/reply?page=1">&laquo;</a>
              </li>
              <li class="page-item">
                <a class="page-link" th:href="${userReply.first}==true ?
                '' : @{/user/mypageProfile/reply(page=${userReply.number})}">&lsaquo;</a>
              </li>
              <li class="page-item" th:each="page :${#numbers.sequence(startNumber, endNumber)}"
                  th:class="(${page} == ${userReply.number}+1) ? 'active'">
                <a th:if="${page}!='0'" class="page-link page-number" th:href="@{/user/mypageProfile/reply(page=${page})}"
                   th:text="${page}"></a>
              </li>
              <li class="page-item">
                <a class="page-link"
                   th:href="${userReply.last}==true ? '': @{/user/mypageProfile/reply(page=${userReply.number}+2)}">&rsaquo;</a>
              </li>
              <li class="page-item">
                <a
                    aria-label="Next"
                    class="page-link"
                    th:href="@{/user/mypageProfile/reply(page=${userReply.totalPages})}"
                >
                  &raquo;
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- /Pagination -->
      </div>
<!--      회원 댓글목록 끝 -->
    </div>
  </div>
</section>

<div class="container">
  <div th:replace="fragments/footer.html :: fragment-footer"></div>
</div>

<script th:inline="javascript">
  $(function(){
    const href = $('#imgAreaATag').attr('href')
    console.log(href)
    if (href==='/images/mypage/profile/1'||'/images/mypage/profile/2'||'/images/mypage/profile/3'){
      href.removeAttr('href');
      href.removeAttr('onclick');
    }
  })
  var pop;
  window.onunload = function (){pop.close();}
  function profilePopUp(){
    let popUrl = "/user/mypageProfile/image";
    var popWidth = 600;
    var popHeight = 550;
    var winHeight = document.body.clientHeight;	  // 현재창의 높이
    var winWidth = document.body.clientWidth;	  // 현재창의 너비
    var winX = window.screenLeft;	                          // 현재창의 x좌표
    var winY = window.screenTop;	                          // 현재창의 y좌표
    var popX = winX + (winWidth - popWidth)/2;
    var popY = winY + (winHeight - popHeight)/2;
    // window.open("팝업창 링크", "pop",  "top="+popY+", left="+popX+",width="+popWidth+",height="+popHeight+", scrollbars=yes,resizable=yes");
    pop = window.open(popUrl,"과정 인증","top="+popY+", left="+popX+",width="+popWidth+",height="+popHeight+", scrollbars=yes,resizable=yes");
  }
</script>
<script th:src="@{/js/navigo.js}"></script>
</body>

</html>