<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>GUKBIT</title>
  <div th:replace="fragments/head.html :: fragment-head"></div>
  <link rel="stylesheet" th:href="@{/css/mypage.css}" type="text/css"/>
  <script th:src="@{/js/header.js}"></script>
  <script th:src="@{/js/mypageValidation.js}"></script>
  <style>
    .field-error {
      border-color: #dc3545 !important;
      color: #dc3545 !important;
    }
  </style>
</head>
<body>
<div th:replace="fragments/header.html :: fragment-header"></div>
<div class="container-fluid p-0 m-0">
  <div th:replace="fragments/nav.html :: fragment-nav"></div>
</div>

<section class="container text-center">
  <div class="ui_box">
    <div class="userInfo_myPage">회원정보 수정</div>
    <form class="userInfo" method="post" th:action="@{/user/mypage/update}"
          th:object="${updateUserData}">
      <input th:field="*{user}" type="hidden">
      <div class="userInfo_row">
        <span class="userInfo_title">아이디</span>
        <input class="userInfo_field" id="id" placeholder="아이디" readonly
               th:field="*{user.userId}" type="text"/>
      </div>
      <div class="userInfo_row">
        <span class="userInfo_title">이메일</span>
        <input
            class="userInfo_field"
            id="email"
            placeholder="이메일"
            readonly
            th:field="*{user.email}"
            type="email"
        />
      </div>
      <div class="userInfo_row">
        <span class="userInfo_title">휴대폰</span>
        <input class="userInfo_field" id="phone" placeholder="휴대폰" readonly
               th:field="*{user.tel}" type="text"/>
      </div>
      <div class="userInfo_row">
        <span class="userInfo_title">변경하실 비밀번호</span>
        <input class="userInfo_field" id="changePassword" placeholder="비밀번호를 입력해주세요"
               th:errorclass="field-error" th:field="*{changePassword}"
               type="password"/>
      </div>
      <div class="field-error" th:errors="*{changePassword}"></div>
      <!-- 비밀번호 유효성 검사 -->
      <div class="pw_regex"></div>
      <div class="userInfo_row">
        <span class="userInfo_title">비밀번호 확인</span>
        <input class="userInfo_field" id="changePasswordCheck" placeholder="비밀번호를 다시 입력해 주세요"
               th:errorclass="field-error" th:field="*{changePasswordCheck}"
               type="password"/>
      </div>
      <div class="field-error" th:errors="*{changePasswordCheck}"></div>
      <!-- 비밀번호 같은지 확인 -->
      <div class="pwauth_regex"></div>
      <div class="userInfo_row">
        <span class="userInfo_title">과정코드 인증하기</span>
        <!--<input type="hidden" th:value="${userData.getAuth()}">-->
        <span th:if="${userData.getRole()=='ROLE_USER'}" class="userInfo_field" style="text-align: start;">인증 내역이 없습니다.</span>
        <span th:if="${userData.getRole()=='ROLE_PRE_AUTH'}" style="color: #0059ab;text-align: start;" class="userInfo_field">인증 진행중입니다.</span>
        <span th:if="${userData.getRole()=='ROLE_AUTH'}" style="color: forestgreen; text-align: start;" class="userInfo_field">인증 완료</span>
        <input th:if="${userData.getRole()=='ROLE_USER'}" class="userInfoBtn" type="button" value="인증하기" onclick="ocrPopUp('/user/mypage/ocr')"/> <!-- 과정 인증 안된사람만 -->
        <input th:if="${userData.getRole()=='ROLE_PRE_AUTH'}" class="userInfoBtn" type="button" value="요청내역" onclick="ocrPopUp('/user/mypage/ocr/check')"/> <!-- 과정 인증 진행중 -->
        <input th:if="${userData.getRole()=='ROLE_AUTH'}" class="userInfoBtn" type="button" value="재인증하기" onclick="ocrPopUp('/user/mypage/ocr')"/> <!-- 과정 인증 완료한람만 -->
      </div>
      <div class="userInfo_row">
        <span class="userInfo_title">인증된 과정 목록</span>
        <input class="userInfo_field" id="authCourse" placeholder="과정 코드 / 과정명" readonly th:field="*{authUserData.courseName}" type="text"/>

      </div>
      <div class="userInfo_row">
        <span class="userInfo_title">평점 작성 기록</span>
        <input class="userInfo_field" id="comment" placeholder="한줄평 / 평점" readonly th:field="*{rate.oneStatement}" type="text"/>
        <a type="button" class="reset-a userInfoBtn" id="authCourseRewrite" style="display:grid; align-items:center;"
           th:href="@{/academy/rate/review-input/change(code=${updateUserData.authUserData.getAcademyCode()} )}">수정 / 삭제</a>
        <input id="academy-code" th:value="${updateUserData.authUserData.academyCode}" type="hidden"></input>
      </div>

      <div class="userInfo_signup">
        <input class="userInfoBtn" th:name="update" th:value="수정" type="submit"></input>
        <input class="userInfoBtn" onclick="location.href='/'" th:value="취소" type="button"></input>
        <input class="userInfoBtn" onclick="userDelete()" th:name="delete" th:value="회원탈퇴" type="button"></input>
      </div>
    </form>
  </div>
</section>

<div class="container">
  <div th:replace="fragments/footer.html :: fragment-footer"></div>
</div>

<script th:inline="javascript">
  var pop;
  window.onunload = function (){pop.close();}
  function ocrPopUp(popUrl){
    var popWidth = 600;
    var popHeight = 550;
    var winHeight = document.body.clientHeight;	  // 현재창의 높이
    var winWidth = document.body.clientWidth;	  // 현재창의 너비
    var winX = window.screenLeft;	                          // 현재창의 x좌표
    var winY = window.screenTop;	                          // 현재창의 y좌표
    var popX = winX + (winWidth - popWidth)/2;
    var popY = winY + (winHeight - popHeight)/2;
    pop = window.open(popUrl,"과정 인증","top="+popY+", left="+popX+",width="+popWidth+",height="+popHeight+", scrollbars=yes,resizable=yes");
  }

  function userDelete(){
    Swal.fire({
      title: '정말 회원 탈퇴를 하시겠습니까?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#0059ab',
      cancelButtonColor: '#D5D5D5',
      confirmButtonText: '확인',
      cancelButtonText: '취소'
    }).then((result) => {
      if (result.isConfirmed) {
        location.assign('mypage/delete');
        return false;
      }
    })
  };
</script>
<script th:src="@{/js/navigo.js}"></script>
</body>
</html>
