<!DOCTYPE html>
<html
	lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="../view/academy"
>
	<head>
		<link rel="stylesheet" th:href="@{/css/academy.css}" />
		
	</head>
	<body>
		<div th:fragment="fragment-academy_course">
			<div th:each="expectedCourse : ${expectedCoursePageList}">
				<div class="row mb-3">
					<div class="col-6 d-flex flex-column justify-content-center">
						<div class="d-flex justify-content-center" th:text="${expectedCourse.name}"></div>
						<div class="d-flex justify-content-center">
							<a th:href="@{https://www.hrd.go.kr/hrdp/co/pcobo/PCOBO0100P.do?tracseId=}+${expectedCourse.id}+@{&tracseTme=}+${expectedCourse.session}
							+@{&crseTracseSe=C0061&trainstCstmrld=}+${expectedCourse.academycode}+@{#undefined}"
							target="_blank">과정 자세히 보기</a>
						</div>
					</div>
					<div class="col-2 d-flex flex-column justify-content-center">
						<div class="d-flex justify-content-center" th:text="|${expectedCourse.session}회차|"></div>
					</div>
					<div class="col-4 d-flex flex-column justify-content-center">
						<div class="d-flex justify-content-center" th:text="|시작일 : ${expectedCourse.start}|"></div>
						<div class="d-flex justify-content-center" th:text="|종료일 : ${expectedCourse.end}|"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-3"></div>
				<nav
					class="col-6 d-flex justify-content-center"
					aria-label="Page navigation"
					style="text-align: center"
				>
					<ul
						class="pagination"
						th:with="startNumber=${T(java.lang.Math).floor(expectedCoursePageList.number/10)}*10+1, endNumber=(${expectedCoursePageList.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${expectedCoursePageList.totalPages}"
					>
                        <li class="page-item">
                            <a class="page-link" aria-label="Previous"
                               th:href="@{/academy/expected(code=${academy_info.code})}">&laquo;</a>
                        </li>
                        <li class="page-item" th:style="${expectedCoursePageList.first} ? 'display:none'">
                            <a class="page-link"
                               th:href="@{/academy/expected(code=${academy_info.code},expected_page=${expectedCoursePageList.number})}">&lsaquo;</a>
                        </li>
						<li
							class="page-item"
							th:each="expected_page :${#numbers.sequence(startNumber, endNumber)}"
							th:class="(${expected_page} == ${expectedCoursePageList.number}+1) ? 'active'"
						>
							<a class="page-link" th:href="@{/} + ${link2} + @{&expected_page=} + ${expected_page}" th:text="${expected_page}"></a>
						</li>
                        <li class="page-item" th:style="${reviewCoursePageList.last} ? 'display:none'">
                            <a class="page-link"
                               th:href="@{/academy/expected(code=${academy_info.code},expected_page=${expectedCoursePageList.number}+2)}">&rsaquo;</a>
                        </li>
                        <li class="page-item">
                            <a
                                    class="page-link"
                                    aria-label="Next"
                                    th:href="@{/academy/expected(code=${academy_info.code},expected_page=${expectedCoursePageList.totalPages})}"
                            >
                                &raquo;
                            </a>
                        </li>
					</ul>
				</nav>
				</div>
			</div>
		</div>
	</body>
</html>
