<!DOCTYPE html>
<html lang="ko">
		<div th:fragment="fragment-board" class ="container board">
			<div class = "row board_entire">
				<div class = "col board_first" >
					<div class = "title">최신 글</div>
					<div class = "more">
						<a href ="" class = "board-a">더보기</a>
					</div>
					<ul>
						<li>
							<div class = "row board_article">
								<div>01</div>
								<div>[AI/인공지능]</div>
								<a href ="" class = "board-a"> 보안으로 취업하고 싶은 사람입니다. </a>
								<i class="bi bi-eye"></i>
								<div>222</div>
							</div>
						</li>
						<li>
							<div class = "row board_article">
								<div>02</div>
								<div>[AI/인공지능]</div>
								<a href ="" class = "board-a"> 보안으로 취업하고 싶은 사람입니다. </a>
								<i class="bi bi-eye"></i>
								<div>222</div>
							</div>
						</li>
						<li>
							<div class = "row board_article">
								<div>03</div>
								<div>[AI/인공지능]</div>
								<a href ="" class = "board-a"> 보안으로 취업하고 싶은 사람입니다. </a>
								<i class="bi bi-eye"></i>
								<div>222</div>
							</div>
						</li>
						<li>
							<div class = "row board_article">
								<div>04</div>
								<div>[AI/인공지능]</div>
								<a href ="" class = "board-a"> 보안으로 취업하고 싶은 사람입니다. </a>
								<i class="bi bi-eye"></i>
								<div>222</div>
							</div>
						</li>
						<li>
							<div class = "row board_article">
								<div>05</div>
								<div>[AI/인공지능]</div>
								<a href ="" class = "board-a"> 보안으로 취업하고 싶은 사람입니다. </a>
								<i class="bi bi-eye"></i>
								<div>222</div>
							</div>
						</li>
						<li>
							<div class = "row board_article">
								<div>06</div>
								<div>[AI/인공지능]</div>
								<a href ="" class = "board-a"> 보안으로 취업하고 싶은 사람입니다. </a>
								<i class="bi bi-eye"></i>
								<div>222</div>
							</div>
						</li>
						<li>
							<div class = "row board_article">
								<div>07</div>
								<div>[AI/인공지능]</div>
								<a href ="" class = "board-a"> 보안으로 취업하고 싶은 사람입니다. </a>
								<i class="bi bi-eye"></i>
								<div>222</div>
							</div>
						</li>
						<li>
							<div class = "row board_article">
								<div>08</div>
								<div>[AI/인공지능]</div>
								<a href ="" class = "board-a"> 보안으로 취업하고 싶은 사람입니다. </a>
								<i class="bi bi-eye"></i>
								<div>222</div>
							</div>
						</li>
						<li>
							<div class = "row board_article">
								<div>09</div>
								<div>[AI/인공지능]</div>
								<a href ="" class = "board-a"> 보안으로 취업하고 싶은 사람입니다. </a>
								<i class="bi bi-eye"></i>
								<div>222</div>
							</div>
						</li>

						<li>
							<div class = "row board_article">
								<div>10</div>
								<div>[AI/인공지능]</div>
								<a href ="" class = "board-a"> 보안으로 취업하고 싶은 사람입니다. </a>
								<i class="bi bi-eye"></i>
								<div>222</div>
							</div>
						</li>
						
					</ul>
				</div>	
				<div class = "col space"></div>

				<div class = "col board_second" id = "boardNew">
					<div class = "title">인기 글</div>
					<div class = "more">
						<a href ="" class = "board-a">더보기</a>
					</div>
					<ul>
						<li>
							<div class = "row board_article">
								<div>01</div>
								<div>[AI/인공지능]</div>
								<a href ="" class = "board-a"> 보안으로 취업하고 싶은 사람입니다. </a>
								<i class="bi bi-eye"></i>
								<div>222</div>
							</div>
						</li>
						<li>
							<div class = "row board_article">
								<div>02</div>
								<div>[AI/인공지능]</div>
								<a href ="" class = "board-a"> 보안으로 취업하고 싶은 사람입니다. </a>
								<i class="bi bi-eye"></i>
								<div>222</div>
							</div>
						</li>
						<li>
							<div class = "row board_article">
								<div>03</div>
								<div>[AI/인공지능]</div>
								<a href ="" class = "board-a"> 보안으로 취업하고 싶은 사람입니다. </a>
								<i class="bi bi-eye"></i>
								<div>222</div>
							</div>
						</li>
						<li>
							<div class = "row board_article">
								<div>04</div>
								<div>[AI/인공지능]</div>
								<a href ="" class = "board-a"> 보안으로 취업하고 싶은 사람입니다. </a>
								<i class="bi bi-eye"></i>
								<div>222</div>
							</div>
						</li>
						<li>
							<div class = "row board_article">
								<div>05</div>
								<div>[AI/인공지능]</div>
								<a href ="" class = "board-a"> 보안으로 취업하고 싶은 사람입니다. </a>
								<i class="bi bi-eye"></i>
								<div>222</div>
							</div>
						</li>
						<li>
							<div class = "row board_article">
								<div>06</div>
								<div>[AI/인공지능]</div>
								<a href ="" class = "board-a"> 보안으로 취업하고 싶은 사람입니다. </a>
								<i class="bi bi-eye"></i>
								<div>222</div>
							</div>
						</li>
						<li>
							<div class = "row board_article">
								<div>07</div>
								<div>[AI/인공지능]</div>
								<a href ="" class = "board-a"> 보안으로 취업하고 싶은 사람입니다. </a>
								<i class="bi bi-eye"></i>
								<div>222</div>
							</div>
						</li>
						<li>
							<div class = "row board_article">
								<div>08</div>
								<div>[AI/인공지능]</div>
								<a href ="" class = "board-a"> 보안으로 취업하고 싶은 사람입니다. </a>
								<i class="bi bi-eye"></i>
								<div>222</div>
							</div>
						</li>
						<li>
							<div class = "row board_article">
								<div>09</div>
								<div>[AI/인공지능]</div>
								<a href ="" class = "board-a"> 보안으로 취업하고 싶은 사람입니다. </a>
								<i class="bi bi-eye"></i>
								<div>222</div>
							</div>
						</li>

						<li>
							<div class = "row board_article">
								<div>10</div>
								<div>[AI/인공지능]</div>
								<a href ="" class = "board-a"> 보안으로 취업하고 싶은 사람입니다. </a>
								<i class="bi bi-eye"></i>
								<div>222</div>
							</div>
						</li>
				</div>
			</div>
		</div>
</html>