<!DOCTYPE html>
<html lang="ko">
	<footer th:fragment="fragment-footer" class="footer-basic">
		<p>
			<br /><strong>상호명</strong> : (주)국빗 | <strong>대표명</strong> : 불4조
			| <strong>사업자등록번호</strong> : 104-81-53114 | <strong>문의</strong> : 1544-9001<br /><strong>주소</strong
			> : 서울특별시 강남구 언주로 508 14층(역삼동, 서울상록빌딩)<br />Copyright by Gukbit Co., Ltd. All rights
			reserved.<br /><br />
		</p>
		<!-- Channel Plugin Scripts -->
		<script>
			(function() {
				var w = window;
				if (w.ChannelIO) {
					return (window.console.error || window.console.log || function(){})('ChannelIO script included twice.');
				}
				var ch = function() {
					ch.c(arguments);
				};
				ch.q = [];
				ch.c = function(args) {
					ch.q.push(args);
				};
				w.ChannelIO = ch;
				function l() {
					if (w.ChannelIOInitialized) {
						return;
					}
					w.ChannelIOInitialized = true;
					var s = document.createElement('script');
					s.type = 'text/javascript';
					s.async = true;
					s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
					s.charset = 'UTF-8';
					var x = document.getElementsByTagName('script')[0];
					x.parentNode.insertBefore(s, x);
				}
				if (document.readyState === 'complete') {
					l();
				} else if (window.attachEvent) {
					window.attachEvent('onload', l);
				} else {
					window.addEventListener('DOMContentLoaded', l, false);
					window.addEventListener('load', l, false);
				}
			})();
			ChannelIO('boot', {
				"pluginKey": "c97d3d4f-809a-4483-9e0b-a27a03f4f180"
			});
		</script>
		<!-- End Channel Plugin -->
	</footer>
</html>
