<!DOCTYPE html>
<html lang="ko">
	<head th:fragment="fragment-head">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
		/>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css"
		/>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />
		<script type="text/javascript" th:src="@{/js/header.js}"></script>
		<link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/footer-basic.css}" />
	</head>
</html>
