<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>fragment-nav</title>
	</head>
	<div th:fragment="fragment-nav" id="nav-wrapper" class="container-fluid p-0 m-0" style="background-color: #01a0ff">
		<div class="container">
			<nav id="menu">
				<ul style="margin: 0px; font-family: 'Pretendard-Medium', sans-serif; font-size: 14pt">
					<li class="menu-item pretandard" onclick="location.href='/notice/list';">공지사항</li>
					<li class="menu-item pretandard" onclick="location.href='/community/list';">커뮤니티</li>
					<li class="menu-item pretandard" th:unless="${session.loginUser == null}">
						<div
							th:if="${session.loginUser.auth == 1}"
							onclick="location.href='/community/mycom';"
						>
							<div>내 학원</div>
							<div>커뮤니티</div>
						</div>
					</div>
				</ul>
			</nav>
		</div>
		<script th:inline="javascript">
			let loginUser = [[${session.loginUser}]];
			if (loginUser !== null) {
				console.log(loginUser.auth);
			}
		</script>
	</div>
</html>
