.tabmenu-wrapper {
	height: 700px;
	width: 100%;
	margin: auto;
	position: relative;
	margin-top: 50px;
}

.tab-content {
	margin: 0px;
	padding: 0px;
	position: absolute;
	width: 100%;
	top: 5px;
	border-bottom: 5px solid #01a0ff;
	box-sizing: border-box;
	font-family: 'Pretendard-Medium', sans-serif;
	font-size: 14pt;
}

.text-center:hover{
	background: lightgray;
}

.tabmenu {
	max-width: 100%;
	margin: 0 auto;
	position: relative;
}

.block {
	display: block;
}

.tabmenu-ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	display: flex;
}

.tabmenu-ul > li {
	display: inline-block;
	width: 50%;
	text-align: center;
	background: #f9f9f9;
	line-height: 40px;
	border-right: 1px solid #01a0ff;
	box-sizing: border-box;
}

.tabmenu > ul:first-child {
	border-left: 1px solid #01a0ff;
}

.tabmenu-ul > li > label {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
}

.tabmenu-ul > li > input {
	display: none;
}

.tabCon {
	/*display: none;*/
	text-align: left;
	padding: 20px;
	position: absolute;
	left: 0;
	top: 50px;
	box-sizing: border-box;
	border: 5px solid #f9f9f9;
	width: 100%;
}

.tabmenu input:checked ~ label {
	background: #01a0ff;
	color: white;
}

/*.tabmenu input:checked ~ * {*/
/*	display: block;*/
/*}*/

.board-category {
	width: 95%;
	margin: auto;
}

.board-category-wrapper {
	border-top: 2px solid black;
}

.board-title {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.board-title:hover {
	font-weight: bold;
	text-decoration: underline;
}

.sort {
	margin-right: 30px;
}

.sort div {
	padding-left: 10px;
}
.page-link{
	border: none;
	color: black;
}
@media screen and (max-width: 992px) {
	.tabmenu-wrapper {
		height: 900px;
	}
}
