.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    display: none;
}

.modalClose {
    float: right;
    cursor: pointer;
}

.modal_content {
    width: 350px;
    min-height: 400px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    top: 30%;
    left: 50%;
    margin-top: -20px;
    margin-left: -200px;
    text-align: center;
    box-sizing: border-box;
    padding: 3px 10px;
    line-height: 23px;
}

.modalSearchResult {
    margin-top: 20px;
}

#modalSearch_academy {
    margin-top: 10px;
    margin-left: 20px;
    padding-left: 10px;
    width: 200px;
}

#modalSearch_start {
    color: black;
    font-size: 20px;
    transform: perspective(0px) translate(-32px, 1px);
}

#hr_divide {
    border-top: 1px solid;
}
