.userInfo_myPage {
	font-size: 24px;
	text-align: center;
	padding: 10px 0;
	margin-top: 20px;
	margin-bottom: 20px;
}
.userInfo {
	width: 500px;
	margin: 0 auto;
}
.userInfo_row {
	display: flex;
	padding: 10px 0;
}
.userInfo_title {
	display: flex;
	align-items: center;
	width: 150px;
	height: 40px;
	font-weight: bold;
	justify-content: flex-end;
	padding-right: 20px;
}
.userInfo_field {
	flex: 1;
	background-color: white;
	width: 300px;
	height: 38px;
	font-size: 13px;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 3px;
}

.userInfo_signup {
	margin-top: 10px;
}

.userInfoBtn {
	background-color: #0059ab;
	width: 100px;
	height: 38px;
	border: none;
	color: white;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	border-radius: 4px;
	margin-left: 20px;
}
