.wrapped-review-content {
  margin: 15px 0px;
}

.review-title {
  font-size: 15px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.review-detail {
  font-size: 15px;
  display: flex;
}

.review-input {
  padding: 2px 7px;
  height: 100px;
  border: 1px solid black;
}

.wrapped-review-detail {
  margin: 20px 20px;
}

.review-selectcourse {
  width: auto;
  padding: 2px 7px;
}

.review-input-buttons .btn {
  width: 90px;
  border-radius: 0px;
}

#review-submit {
  background-color: #0059AB;
  color: white;
}

#review-reset {
  border: 1px solid black;
}
#delete-form{
  text-align: right;
}
#review-delete-btn{
  width: 90px;
  border-radius: 0px;
}

/* 별점 관련 CSS */
.review-star-form fieldset{
  display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
  direction: rtl; /* 이모지 순서 반전 */
  border: 0; /* 필드셋 테두리 제거 */
  width: 100px;
}
.review-star-form legend{
  text-align: left;
  font-size: 15px;
  margin:0;
  width: 100px;
}
.review-star-form input[type=radio]{
  display: none; /* 라디오박스 감춤 */
}

.review-star-form label{
  font-size: 15px; /* 이모지 크기 */
  color: transparent; /* 기존 이모지 컬러 제거 */
  text-shadow: 0 0 0 #d4d4d4; /* 새 이모지 색상 부여 */
  cursor: pointer;
}
.review-star-form label:hover{
  text-shadow: 0 0 0 #01A0FF; /* 마우스 호버 */
}
.review-star-form label:hover ~ label{
  text-shadow: 0 0 0 #01A0FF; /* 마우스 호버 뒤에오는 이모지들 */
}
.review-star-form input[type=radio]:checked ~ label{
  text-shadow: 0 0 0 #01A0FF; /* 마우스 클릭 체크 */
}