.form-wrap {
	margin-top: 100px;
	max-width: 600px !important;
}

.input-border {
	border: 2px solid black;
}

.label-font-weight {
	color: black;
	font-weight: bold;
}

.feedback-id,
.feedback-pw,
.feedback-pwcheck,
.feedback-email,
.feedback-tel {
	display: none;
}
.error {
	font-size: 12pt;
	height: 20px;
	color: red;
	font-weight: 700;
}
