.form-wrap {
	margin-top: 100px;
	/*max-width: 600px !important;*/
}

.label-font-weight {
	color: black;
	font-weight: bold;
}
#signUp-form{
	border: 1px solid lightgray;
	max-width: 900px;
	width: 250%;
	margin: 0 auto;
	background-color: #ffffff;
	padding: 100px;
	border-radius: 4px;
	color: gray;
	box-shadow: 5px 5px 5px rgb(0 0 0 / 10%);
}
.input-border{
	background-color: #f7f9fc;
}
.text-center{
	font-family: Pretendard;
	margin-top: 100px;
	font-size: 40pt;
}
.feedback-id,
.feedback-pw,
.feedback-pwcheck,
.feedback-email,
.feedback-tel {
	display: none;
}
.error {
	font-size: 12pt;
	height: 20px;
	color: red;
	font-weight: 700;
}
input[type=button]:active{
	 transform: scale(0.95);
 }
input[type=submit]:active{
	transform: scale(0.98);
}
.form-control, .btn{
	border-radius: 0;
}