<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>GUKBIT</title>
		<div th:replace="fragments/head.html :: fragment-head"></div>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
		<link rel="stylesheet" type="text/css" th:href="@{/css/localList.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/slide.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/boardSample.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
	</head>
	<body>
		<div th:replace="fragments/header.html :: fragment-header"></div>
		<div th:replace="fragments/nav.html :: fragment-nav"></div>
<!--		<div th:replace="fragments/board.html :: fragment-board"></div>-->
		<div class ="container board">
			<div class = "row board_entire">
				<div class = "col board_first" >
					<div class = "title">최신 글</div>
					<div class = "more">
						<a href ="/community/list" class = "board-a">더보기</a>
					</div>
					<ul>
						<li th:each = "boardN : ${boardListNew}">
							<div  class = "container board_each">
								<div class = "row board_category" th:text="|[${boardN.b_course_name}]|" ></div>
								<div class = "row board_specific">
									<a class = "board-a " th:text="${boardN.title}" th:href =@{/community/details(idx=${boardN.bid})}> </a>
									<div class = "view d-flex">
										<i class="bi bi-eye"></i>
										<div th:text="${boardN.view}"></div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class = "col space"></div>
				<div class = "col board_second">
					<div class = "title">인기 글</div>
					<div class = "more">
						<a href ="/community/list" class = "board-a">더보기</a>
					</div>
					<ul>
						<li th:each = "boardB : ${boardListBest}">
							<div  class = "container board_each">
								<div class = "row board_category" th:text="|[${boardB.b_course_name}]|" ></div>
								<div class = "row board_specific">
									<a class = "board-a " th:text="${boardB.title}" th:href =@{/community/details(idx=${boardB.bid})}> </a>
									<div class = "view d-flex">
										<i class="bi bi-eye"></i>
										<div th:text="${boardB.view}"></div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class = "col space"></div>
			</div>
		</div>

		<section class=" container text-center">
			<div class="tabBtnList" id="tabBtnList">
				<ul class="tabLocalList">
					<!-- data-* atttibute https://www.w3schools.com/tags/att_global_data.asp -->
					<li class="selected" data-local="0" onclick="" value="10">
						<button class="localBtn" type="button">
							전체
						</button>
					</li>
					<li class data-local="1" onclick="" value="11">
						<button class="localBtn" type="button">
							서울
						</button>
					</li>
					<li class data-local="2" onclick="" value="41">
						<button class="localBtn" type="button">
							경기
						</button>
					</li>
					<li class data-local="3" onclick="" value="28">
						<button class="localBtn" type="button">
							인천
						</button>
					</li>
					<li class data-local="4" onclick="" value="43">
						<button class="localBtn" type="button">
							충청
						</button>
					</li>
					<li class data-local="5" onclick="" value="47">
						<button class="localBtn" type="button">
							경상
						</button>
					</li>
					<li class data-local="6" onclick="" value="45">
						<button class="localBtn" type="button">
							전라
						</button>
					</li>
					<li class data-local="7" onclick="" value="51">
						<button class="localBtn" type="button">
							강원/제주
						</button>
					</li>
				</ul>
			</div>
		</section>
		<div class="container slide_grid">
			<div class="slide_menu_container">
				<div class="side_menu">
					<ul>
						<li th:each="slide : ${sideMenuList}" th:value="${slide.d_field_s}" th:text="${slide.div}"></li>
					</ul>
				</div>
				<div id="slide">
				</div>
			</div>
		</div>

		<div class="container">
			<div th:replace="fragments/footer.html :: fragment-footer"></div>
		</div>

		<script th:src="@{/js/navigo.js}"></script>

		<script type="text/javascript" th:src="@{/js/slide.js}"></script>

	</body>
</html>