<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>GUKBIT</title>
		<div th:replace="fragments/head.html :: fragment-head"></div>
		<link rel="stylesheet" type="text/css" th:href="@{/css/localList.css}" />
		<script type="text/javascript" th:src="@{/js/localList.js}"> </script>
		<script th:src="@{/js/header.js}"></script>
		<link rel="stylesheet" type="text/css" th:href="@{/css/slide.css}">

	</head>
	<body>
		<div th:replace="fragments/header.html :: fragment-header"></div>
		<div class="container-fluid p-0 m-0">
			<div th:replace="fragments/nav.html :: fragment-nav"></div>
		</div>
		<div th:replace="fragments/localList.html :: fragment-localList"></div>
		<div class="container slide_grid">
			<div class="slide_menu_container">
				<div class="side_menu">
					<ul>
						<li>HTML</li>
						<li>CSS</li>
						<li>JAVASCRIPT</li>
						<li>JAVA</li>
						<li>JSP</li>
						<li>ORACLE</li>
					</ul>
				</div>
				<!-- 슬라이드 컨테이너 1-->
				<div id="slide">
				</div>
			</div>
		</div>
		<div class="container">
			<div th:replace="fragments/footer.html :: fragment-footer"></div>
		</div>
		<script th:src="@{/js/navigo.js}"></script>
		<script type="text/javascript" th:src="@{/js/slide.js}"></script>
	</body>
</html>
