<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
		<div th:replace="fragments/head.html :: fragment-head"></div>
		<link rel="stylesheet" th:href="@{/css/academy.css}" />
	</head>

	<body>
		<div th:replace="fragments/header.html :: fragment-header"></div>
		<div th:replace="fragments/nav.html :: fragment-nav"></div>

		<div class="container">
			<div class="academy_top">
				<div class="academy_info">
					<div id="academy_img"><img src="#" /></div>
					<div class="academy_info1">
						<ul>
							<li id="academy-id" th:text="${academy_info.name}"></li>
							<li id="academy-addr" th:text="${academy_info.addr}"></li>
							<li id="academy_hrdnet_link">
								<a
									th:href="@{https://www.hrd.go.kr/hrdp/co/pcoco/PCOCO0100P.do(tracseTme=1, trainstCstmrId=${academy_info.code}, crseTracseSe=C0061, pageId=)}"
									>HRD-NET 페이지</a
								>
							</li>
						</ul>
					</div>
				</div>
				<div class="academy_info2">
					<div>
						<ul id="academy_info2_header">
							<li>훈련기관 전화번호</li>
							<li>홈페이지</li>
						</ul>
					</div>
					<div>
						<ul>
							<li th:text="${academy_info.tel}"></li>
							<li><a th:text="${academy_info.home_url}"></a></li>
						</ul>
					</div>
					<div>
						<ul id="academy_info2_header">
							<li>훈련기관 팩스번호</li>
							<li>훈련기관유형</li>
							<li></li>
						</ul>
					</div>
					<div>
						<ul>
							<li>02-1000-0000</li>
							<li>유형없음</li>
							<li></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="academy_middle">
				<ul>
					<li class="selected">리뷰</li>
					<li>모집중인 과정</li>
				</ul>
			</div>
			<div id="academy_bottom">
				<div id="acd_cour_page" th:include="fragments/academy_course.html :: fragment-academy_course"></div>
				<div id="acd_review_page" th:include="fragments/academy_review.html :: fragment-academy_review"></div>
			</div>
		</div>
		<div class="container">
			<div th:replace="fragments/footer.html :: fragment-footer"></div>
		</div>
		<script th:inline="javascript">
			var expectedSelect = [[${expectedSelect}]];
		</script>
		<script th:src="@{/js/academy.js}"></script>
	</body>
</html>

