<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>GUKBIT</title>
    <div th:replace="fragments/head.html :: fragment-head"></div>
    <link rel="stylesheet" type="text/css" th:href="@{/css/communityboard.css}"/>
    <style>
        .table-content:not(:last-child) {
            border-bottom: 1px solid grey;
        }

        .modalBtn {
            width: 120px;
            height: 30px;
            line-height: 15px;
            cursor: pointer;
        }

        .modal {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.2);
            top: 0;
            left: 0;
            display: none;
        }

        .modalClose {
            float: right;
            cursor: pointer;
        }

        .modal_content {
            width: 350px;
            height: 400px;
            background: #fff;
            border-radius: 10px;
            position: relative;
            top: 30%;
            left: 50%;
            margin-top: -20px;
            margin-left: -200px;
            text-align: center;
            box-sizing: border-box;
            padding: 3px 10px;
            line-height: 23px;
        }

        .modalSearchResult {
            margin-top: 20px;
        }

        #modalSearch_academy {
            margin-top: 10px;
            margin-left: 20px;
            padding-left: 10px;
            width: 200px;
        }

        #modalSearch_start {
            color: black;
            font-size: 20px;
            transform: perspective(0px) translate(-32px, 1px);
        }

        #hr_divide {
            border-top: 1px solid;
        }


    </style>
</head>
<body>
<div th:replace="fragments/header.html :: fragment-header"></div>
<div class="container-fluid p-0 m-0">
    <div th:replace="fragments/nav.html :: fragment-nav"></div>
</div>


<section class="container">
    <article>
        <div class="tabmenu-wrapper">
            <div class="tab-content">
                <div class="tabmenu">
                    <ul class="tabmenu-ul">
                        <li id="tab1" class="btnCon">
                            <input type="radio" checked name="tabmenu" id="tabmenu1"/>
                            <label for="tabmenu1">전체 게시판</label>
                            <div class="tabCon">
                                <div class="d-flex sort">
                                    <div class="flex-grow-1"></div>
                                    <div>최신순</div>
                                    <div>조회순</div>
                                </div>
                                <div class="board-category-wrapper mb-2">
                                    <table class="board-category">
                                        <thead>
                                        <tr class="text-center">
                                            <th>No</th>
                                            <th>제목</th>
                                            <th>글쓴이</th>
                                            <th>작성시간</th>
                                            <th>조회수</th>
                                        </tr>
                                        </thead>
                                        <tbody class="table-content" th:each="board : ${boardList}">
                                        <tr class="text-center">
                                            <td th:text="${board.bid}"></td>
                                            <td class="text-start ps-5">
                                                <div class="d-flex" style="height: 30px;">
                                                    <div class="d-flex flex-column justify-content-center"
                                                         th:text="${board.b_academy_code}"></div>
                                                    <div class="d-flex flex-column justify-content-center"
                                                         th:text="${board.b_course_id}"></div>
                                                </div>
                                                <div class="d-flex flex-column justify-content-center"
                                                     style="height: 30px;">
                                                    <a class="board-title" th:text="${board.title}"
                                                       th:href=@{/community/details(idx=${board.bid})}></a>
                                                </div>
                                            </td>
                                            <td th:text="${board.author}"></td>
                                            <td
                                                    th:if="${board.date.substring(0,10).equals(Today.getToday())}"
                                                    th:text="${board.date.substring(11)}"
                                            ></td>
                                            <td
                                                    th:unless="${board.date.substring(0,10).equals(Today.getToday())}"
                                                    th:text="${board.date.substring(0,10)}"
                                            ></td>
<!--                                            th:text="${board.date} ? ${#temporals.format(board.date,'yyyy-MM-dd HH:mm')}-->
<!--                                            : ${board.date}"-->
                                            <td th:text="${board.view}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- Pagination -->
                                <div class="row">
                                    <div class="col-3"></div>
                                    <nav
                                            class="col-6 d-flex justify-content-center"
                                            aria-label="Page navigation"
                                            style="text-align: center"
                                    >
                                        <ul
                                                class="pagination"
                                                th:with="startNumber=${T(java.lang.Math).floor(boardList.number/10)}*10+1, endNumber=(${boardList.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${boardList.totalPages}"
                                        >
                                            <li class="page-item">
                                                <a class="page-link" aria-label="Previous"
                                                   href="/community/list?page=1">&laquo;</a>
                                            </li>
                                            <li class="page-item" th:style="${boardList.first} ? 'display:none'">
                                                <a class="page-link"
                                                   th:href="@{/community/list(page=${boardList.number})}">&lsaquo;</a>
                                            </li>

                                            <li
                                                    class="page-item"
                                                    th:each="page :${#numbers.sequence(startNumber, endNumber)}"
                                                    th:class="(${page} == ${boardList.number}+1) ? 'active'"
                                            >
                                                <a class="page-link" th:href="@{/community/list(page=${page})}"
                                                   th:text="${page}"></a>
                                            </li>
                                            <li class="page-item" th:style="${boardList.last} ? 'display:none'">
                                                <a class="page-link"
                                                   th:href="@{/community/list(page=${boardList.number}+2)}">&rsaquo;</a>
                                            </li>
                                            <li class="page-item">
                                                <a
                                                        class="page-link"
                                                        aria-label="Next"
                                                        th:href="@{/community/list(page=${boardList.totalPages})}"
                                                >
                                                    &raquo;
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <!-- /Pagination -->
                                    <div th:unless="${session.loginUser == null}"
                                         class="col-3 d-flex justify-content-end">
                                        <button class="btn btn-primary w-75 my-2 write-btn"
                                                onclick="location.href='/community/write'">
                                            글 작성
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li id="tab2" class="btnCon">
                            <input type="radio" name="tabmenu" id="tabmenu2"/>
                            <label for="tabmenu2">학원별 게시판</label>
                            <!-- 전체게시판 임시적으로 넣어둠 -->
                            <div class="tabCon">
                                <div class="d-flex sort">
                                    <div class="flex-grow-1"></div>
                                    <div>최신순</div>
                                    <div>조회순</div>
                                </div>
                                <div class="board-category-wrapper mb-2">
                                    <table class="board-category">
                                        <thead>
                                        <tr class="text-center">
                                            <th>No</th>
                                            <th>제목</th>
                                            <th>글쓴이</th>
                                            <th>작성시간</th>
                                            <th>조회수</th>
                                        </tr>
                                        </thead>
                                        <tbody class="table-content" th:each="board : ${boardList}">
                                        <tr class="text-center">
                                            <td th:text="${board.bid}"></td>
                                            <td class="text-start ps-5">
                                                <div class="d-flex" style="height: 30px;">
                                                    <div class="d-flex flex-column justify-content-center"
                                                         th:text="${board.b_academy_code}"></div>
                                                    <div class="d-flex flex-column justify-content-center"
                                                         th:text="${board.b_course_id}"></div>
                                                </div>
                                                <div class="d-flex flex-column justify-content-center"
                                                     style="height: 30px;">
                                                    <a class="board-title" th:text="${board.title}"
                                                       th:href=@{/community/details(idx=${board.bid})}></a>
                                                </div>
                                            </td>
                                            <td th:text="${board.author}"></td>
                                            <td
                                                    th:text="${board.date}"
                                            ></td>
                                            <!--th:text="${board.date} ? ${#temporals.format(board.date,'yyyy-MM-dd HH:mm')} : ${board.date}"-->
                                            <td th:text="${board.view}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- Pagination -->
                                <div class="row">
                                    <div class="col-3"></div>
                                    <nav
                                            class="col-6 d-flex justify-content-center"
                                            aria-label="Page navigation"
                                            style="text-align: center"
                                    >
                                        <ul
                                                class="pagination"
                                                th:with="startNumber=${T(java.lang.Math).floor(boardList.number/10)}*10+1, endNumber=(${boardList.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${boardList.totalPages}"
                                        >
                                            <li class="page-item">
                                                <a class="page-link" aria-label="Previous"
                                                   href="/community/list?page=1">&laquo;</a>
                                            </li>
                                            <li class="page-item" th:style="${boardList.first} ? 'display:none'">
                                                <a class="page-link"
                                                   th:href="@{/community/list(page=${boardList.number})}">&lsaquo;</a>
                                            </li>

                                            <li
                                                    class="page-item"
                                                    th:each="page :${#numbers.sequence(startNumber, endNumber)}"
                                                    th:class="(${page} == ${boardList.number}+1) ? 'active'"
                                            >
                                                <a class="page-link" th:href="@{/community/list(page=${page})}"
                                                   th:text="${page}"></a>
                                            </li>

                                            <li class="page-item" th:style="${boardList.last} ? 'display:none'">
                                                <a class="page-link"
                                                   th:href="@{/community/list(page=${boardList.number}+2)}">&rsaquo;</a>
                                            </li>
                                            <li class="page-item">
                                                <a
                                                        class="page-link"
                                                        aria-label="Next"
                                                        th:href="@{/community/list(page=${boardList.totalPages})}"
                                                >
                                                    &raquo;
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <!-- /Pagination -->
                                    <div th:unless="${session.loginUser == null}"
                                         class="col-3 d-flex justify-content-end">
                                        <button class="btn btn-primary w-75 my-2 write-btn"
                                                onclick="location.href='/community/write'">
                                            글 작성
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <br/>
        </div>
    </article>

    <div class="modal">
        <div class="modal_content">
            <span class="modalClose">X</span> <br><br>
            <span class="modalTitle">찾으시고자 하는 학원의 이름을 입력해주세요</span>
            <form class="modalSearch" method="get" action="/community/list">
                <input type="text" id="modalSearch_academy" placeholder="학원 이름을 입력해주세요">
                <button class="submit bi bi-search" id="modalSearch_start"
                        style="border: none; background: none"></button>
            </form>
            <hr id="hr_divide">
            <!-- 결과 출력 위치 -->
            <div class="modalSearchResult">
                <table id="academyTable">
                    <thead id="academyTableHead">
                    <tr>
                        <th id="academyName">학원명</th>
                        <th id="boardLink">학원 코드</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div th:replace="fragments/footer.html :: fragment-footer"></div>
</div>
<script th:src="@{/js/navigo.js}"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
></script>
<script>

    $(function () {
        // 모달 버튼 클릭시 모달 실행
        $("#tab2").click(function () {
            $(".modal").fadeIn();
        });

        // 모달 닫기
        $(".modalClose").click(function () {
            $(".modal").fadeOut();
        });

        $("#modalSearch_start").on('click', function (event) {
            event.preventDefault();
            let searchValue = document.getElementById('modalSearch_academy').value.trim();
            console.log(searchValue);
            if (searchValue.length > 0) {
                $.ajax({
                    type: "post",
                    data: {SearchValue: searchValue},
                    url: "/community/modal",
                    // dataType: "json",
                    // contentType : "application/json; charset = UTF-8" ,
                    success: function (result) {
                        console.log(result);
                        for (var i = 0; i < result.length; i++) {
                            console.log(result[i].code);
                            console.log(result[i].name);
                            addRow = '<tr class="tagDel">'
                                + '<td>' + result[i].name + '</td>'
                                + '<td>' + result[i].code + '</td>'
                                + '</tr>';
                            $("#academyTableHead").append(addRow);
                            // $("#academyName").append(result[i].name + "<br>");
                            // $("#boardLink").append(result[i].code + "<br>");
                        }
                    },
                    error: function (request, status, error) {
                        alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
                    }
                })
            } else {
                alert('검색어를 입력해주세요.');
            }
        });
        // input창에서 enter 눌러도 검색실행
        $("#modalSearch_academy").on('keypress', function (event) {
            if (event.keyCode == 13) {
                $("#modalSearch_start").click();
                event.preventDefault();
            }
        });
    })

</script>
</body>
</html>
