<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>GUKBIT</title>
		<div th:replace="fragments/head.html :: fragment-head"></div>
		<link rel="stylesheet" type="text/css" th:href="@{/css/communityboard.css}" />
	</head>
	<body>
		<div th:replace="fragments/header.html :: fragment-header"></div>
		<div class="container-fluid p-0 m-0">
			<div th:replace="fragments/nav.html :: fragment-nav"></div>
		</div>

		<section class="container">
			<article>
				<div class="tabmenu-wrapper">
					<div class="tab-content">
						<div class="tabmenu">
							<ul class="tabmenu-ul">
								<li id="tab1" class="btnCon">
									<input type="radio" checked name="tabmenu" id="tabmenu1" />
									<label for="tabmenu1">게시판 카테고리</label>
									<div class="tabCon">
										<div></div>
										<div>
											<table class="board-category">
												<thead>
													<tr>
														<th>No</th>
														<th>제목</th>
														<th>글쓴이</th>
														<th>작성시간</th>
														<th>조회수</th>
													</tr>
												</thead>
												<tbody th:each="num : ${#numbers.sequence(0,5)}">
													<tr>
														<td>223</td>
														<td>
															<div>[멀티캠퍼스][웹개발 풀스택 과정]</div>
															<div><a class="board-title">국비학원 출신 10년차 개발자의 개인적인의견입니다.</a></div>
														</td>
														<td>이순신</td>
														<td>2022-04-06</td>
														<td>2222</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</li>
								<li id="tab2" class="btnCon">
									<input type="radio" name="tabmenu" id="tabmenu2" />
									<label for="tabmenu2">자료실</label>
									<div class="tabCon">2222222222</div>
								</li>
								<li id="tab3" class="btnCon">
									<input type="radio" name="tabmenu" id="tabmenu3" />
									<label for="tabmenu3">개인정보 처리방침</label>
									<div class="tabCon">333333333333</div>
								</li>
								<li id="tab4" class="btnCon">
									<input type="radio" name="tabmenu" id="tabmenu4" />
									<label for="tabmenu4">개인정보 처리방침</label>
									<div class="tabCon">4444444</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</article>
		</section>

		<!--
		<div class="container">
			<div th:replace="fragments/footer.html :: fragment-footer"></div>
		</div>
-->
		<script th:src="@{/js/header.js}"></script>
		<script th:src="@{/js/navigo.js}"></script>
	</body>
</html>
