<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<div th:replace="fragments/head.html :: fragment-head"></div>
		<link rel="stylesheet" type="text/css" th:href="@{/css/signUp.css}" />
		<title>공지사항</title>
	</head>

	<body>
		<div th:replace="fragments/header.html :: fragment-header"></div>
		<div class="container-fluid p-0 m-0">
			<div th:replace="fragments/nav.html :: fragment-nav"></div>
		</div>
		<br />

		<div class="container" style="height: 800px; border: 1px solid lightgray" th:object="${board}">
			<div class="row">
				<div class="col-xxl-12">
					<!-- <i class="icon ion-eye"></i> -->
					<header class="d-flex justify-content-between mt-3" style="font-weight: bold; font-size: 19px">
						<span th:text="${board.b_academy_code}"></span>
						<span th:text="${board.b_course_id}"></span>
						<span th:text="${board.title}"></span>
						<span th:text="${board.author}"></span>
						<span th:text="${board.date}"></span>
						<span th:text="${board.view}"></span>
					</header>
					<!-- <hr
						style="
							margin-top: 12px;
							margin-bottom: -16px;
							padding: 1px;
							font-size: 16px;
							border-radius: 50px;
							border-width: 2px;
							border-style: solid;
						"
					/> -->
					<div th:if="${check}" class="d-flex justify-content-end mt-2">
						<a th:href=@{/community/rewrite/(bid=${board.bid})}>수정</a><span>|</span><a href="#">삭제</a>
					</div>
					<textarea style="width: 100%; height: 700px" th:text="${board.content}" disabled> </textarea>
				</div>
			</div>
			<!-- <div class="row">
				<div class="col offset-xxl-10 text-center">
					<button
						class="btn btn-primary"
						type="button"
						style="width: 115px; margin-left: 0px; text-align: center"
						onclick="location.href='/noticeList'"
					>
						목록으로
					</button>
				</div>
			</div> -->
		</div>
		<div th:replace="fragments/footer.html :: fragment-footer"></div>
	</body>
</html>
