<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>GUKBIT</title>
		<div th:replace="fragments/head.html :: fragment-head"></div>
		<link rel="stylesheet" type="text/css" th:href="@{/css/communityboard.css}" />
	</head>
	<body>
		<div th:replace="fragments/header.html :: fragment-header"></div>
		<div class="container-fluid p-0 m-0">
			<div th:replace="fragments/nav.html :: fragment-nav"></div>
		</div>

		<section class="container">
			<article>
				<div class="tabmenu-wrapper">
					<div class="tab-content">
						<div class="tabmenu">
							<ul class="tabmenu-ul">
								<li id="tab1" class="btnCon">
									<input type="radio" checked name="tabmenu" id="tabmenu1" />
									<label for="tabmenu1">공지사항</label>
									<div class="tabCon"></div>
								</li>
								<li id="tab2" class="btnCon">
									<input type="radio" name="tabmenu" id="tabmenu2" />
									<label for="tabmenu2">자료실</label>
									<div class="tabCon"></div>
								</li>
								<li id="tab3" class="btnCon">
									<input type="radio" name="tabmenu" id="tabmenu3" />
									<label for="tabmenu3">개인정보 처리방침</label>
									<div class="tabCon"></div>
								</li>
								<li id="tab4" class="btnCon">
									<input type="radio" name="tabmenu" id="tabmenu4" />
									<label for="tabmenu4">개인정보 처리방침</label>
									<div class="tabCon"></div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</article>
		</section>

		<!--
		<div class="container">
			<div th:replace="fragments/footer.html :: fragment-footer"></div>
		</div>
-->
		<script th:src="@{/js/header.js}"></script>
		<script th:src="@{/js/navigo.js}"></script>
	</body>
</html>
