<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>GUKBIT-LOGIN</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css"
  />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/footer-basic.css}" />

  <script th:src="@{/js/login.js}"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/Login-Form-Clean.css}"/>
</head>

<body>
<header class="text-center" style="margin-bottom: 50px">
  <a href="/" style="text-decoration: none;"><span
      style="font-weight: bold; color: black;">GUKB</span><span
      style="font-weight: bold; color: #01a0ff;">IT</span></a>
</header>

<section class="login-clean">
  <form
      method="post"
      th:action="@{/login}"
      th:object="${loginData}"
      style="border: 1px solid lightgray; border-radius: 5px"
      id="logFrm">
<!--      onsubmit="return logFormCheck()"-->
    <h2 class="visually-hidden">Login Form</h2>


    <div class="mb-1" style="position: relative">
        <input class="form-control" type="text" placeholder="아이디"  th:field="*{id}"
              th:errorclass="field-error"/>
        <div class="icon">
            <span class="material-icons">person_outline</span>
        </div>
        <div class="field-error" th:errors="*{id}">
        </div>
    </div>
    <div class="mb-2" style="position: relative">
      <input class="form-control" type="password" placeholder="비밀번호" th:field="*{pw}"
            th:errorclass="field-error"/>
        <div class="icon">
            <span class="material-icons">lock</span>
        </div>
        <div class="field-error" th:errors="*{pw}">
        </div>
    </div>
    <div class="mb-3">
      <button class="btn btn-primary d-block w-100" type="submit">로그인</button>
    </div>
    </br>
    <div class="row">
      <div class="col" style="width: 100px">
        <a class="forgot" href="/findid" style="width: 220px; text-align: center; font-size: 13pt">아이디
          찾기</a>
      </div>
      <div
          class="col"
          style="
							width: 100px;
							border-right-width: 1px;
							border-right-style: solid;
							border-left-width: 1px;
							border-left-style: solid;
							text-align: center;
						"
      >
        <a class="forgot" href="/findpw" style="width: 220px; text-align: center; font-size: 13pt">비밀번호
          찾기</a>
      </div>
      <div class="col" style="width: 100px">
        <a class="forgot" href="/signUp" style="width: 220px; text-align: center; font-size: 13pt">회원가입</a>
      </div>
    </div>
  </form>
</section>

<div class="container">
  <div th:replace="fragments/footer.html :: fragment-footer"></div>
</div>
</body>
</html>
