<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>GUKBIT</title>
  <div th:replace="fragments/head.html :: fragment-head"></div>
  <link rel="stylesheet" th:href="@{/css/mypage.css}" type="text/css"/>
  <script th:src="@{/js/header.js}"></script>
  <script th:src="@{/js/mypageValidation.js}"></script>
  <style>
    .field-error {
      border-color: #dc3545 !important;
      color: #dc3545 !important;
    }
  </style>
</head>
<body>
<div th:replace="fragments/header.html :: fragment-header"></div>
<div class="container-fluid p-0 m-0">
  <div th:replace="fragments/nav.html :: fragment-nav"></div>
</div>

<section class="container text-center">
  <div class="ui_box">
    <div class="userInfo_myPage">마이페이지</div>
    <!-- action 추가되어야 합니다. -->
    <form class="userInfo" method="post" th:action="@{/user/mypage/update}"
          th:object="${updateUserData}">
      <!-- readonly 값들은 추후 db에서 주입되어야 합니다. -->
      <input th:field="*{user}" type="hidden">
      <div class="userInfo_row">
        <span class="userInfo_title">아이디</span>
        <input class="userInfo_field" id="id" placeholder="아이디" readonly
               th:field="*{user.userId}" type="text"/>
      </div>
      <div class="userInfo_row">
        <span class="userInfo_title">이메일</span>
        <input
            class="userInfo_field"
            id="email"
            placeholder="이메일"
            readonly
            th:field="*{user.email}"
            type="email"
        />
      </div>
      <div class="userInfo_row">
        <span class="userInfo_title">휴대폰</span>
        <input class="userInfo_field" id="phone" placeholder="휴대폰" readonly
               th:field="*{user.tel}" type="text"/>
      </div>
      <div class="userInfo_row">
        <span class="userInfo_title">변경하실 비밀번호</span>
        <input class="userInfo_field" id="changePassword" placeholder="비밀번호를 입력해주세요"
               th:errorclass="field-error" th:field="*{changePassword}"
               type="password"/>
      </div>
      <div class="field-error" th:errors="*{changePassword}"></div>
      <!-- 비밀번호 유효성 검사 -->
      <div class="pw_regex"></div>
      <div class="userInfo_row">
        <span class="userInfo_title">비밀번호 확인</span>
        <input class="userInfo_field" id="changePasswordCheck" placeholder="비밀번호를 다시 입력해 주세요"
               th:errorclass="field-error" th:field="*{changePasswordCheck}"
               type="password"/>
      </div>
      <div class="field-error" th:errors="*{changePasswordCheck}"></div>
      <!-- 비밀번호 같은지 확인 -->
      <div class="pwauth_regex"></div>
      <div class="userInfo_row">
        <!-- 과정 코드 확인 로직 필요 -->
        <span class="userInfo_title">과정코드</span>
        <input class="userInfo_field" id="courseId" placeholder="과정코드를 입력해주세요" type="text"/>
        <input class="userInfoBtn" id="courseIdSave" onclick="getCourseData()" th:value="검색"
               type="button"></input>
      </div>
      <div id="courseDropBox" name="courseDropBox">
        <select class="form-select">
          <option disabled selected value="">과정명 선택</option>
        </select>
      </div>
      <div class="userInfo_row">
        <span class="userInfo_title">인증된 과정 목록</span>
        <input class="userInfo_field" id="authCourse" placeholder="과정 코드 / 과정명"
               readonly th:field="*{authUserData.courseName}" type="text"/>

      </div>
      <div class="userInfo_row">
        <span class="userInfo_title">평점 작성 기록</span>
        <input class="userInfo_field" id="comment" placeholder="한줄평 / 평점" readonly
               th:field="*{rate.oneStatement}" type="text"/>
        <button class="userInfoBtn" id="authCourseRewrite"
								th:onclick="'location.href=\''+ @{/academy/rate/review-input/change(code=${updateUserData.authUserData.getAcademyCode()} )} + '\''"
                type="button">수정 / 삭제</button>
        <input id="academy-code" th:value="${updateUserData.authUserData.academyCode}"
               type="hidden"></input>
      </div>

      <div class="userInfo_signup">
        <input class="userInfoBtn" th:name="update" th:value="수정" type="submit"></input>
        <input class="userInfoBtn" onclick="location.href='/'" th:value="취소" type="button"></input>
        <input class="userInfoBtn" onclick="userDelete()" th:name="delete" th:value="회원탈퇴"
               type="button"></input>
      </div>
    </form>
  </div>
</section>

<div class="container">
  <div th:replace="fragments/footer.html :: fragment-footer"></div>
</div>
<script th:inline="javascript">
  function getCourseData() {
    let courseId = $("#courseId").val()
    $.ajax({
      url: "/course/courseData",
      type: 'get',
      data: {CourseId: courseId},
      success: function (html) {
        alert("드랍박스가 갱신되었습니다.")
        $("#courseDropBox").html(html);
      },
    });
  }
  function userDelete(){
    if(confirm("정말 회원 탈퇴를 하시겠습니까?")){
      location.assign('/user/mypage/delete');
    }else{
      return;
    }
  }
</script>
<script th:src="@{/js/navigo.js}"></script>
</body>
</html>
