<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<div th:replace="fragments/head.html :: fragment-head"></div>
		<title>공지사항</title>
	</head>

	<body>
		<div th:replace="fragments/header.html :: fragment-header"></div>
		<div class="container-fluid p-0 m-0">
			<div th:replace="fragments/nav.html :: fragment-nav"></div>
		</div>
		<br/>

		<div class="container" style="height: 800px; border: 1px solid lightgray" th:object="${notice}">
			<div class="row">
				<div class="col-xxl-12">
					<header class="d-flex justify-content-between mt-3" style="font-weight: bold; font-size: 19px">
						<span th:text="${notice.title}"></span>
						<span th:text="${notice.author}"></span>
						<span th:text="${notice.date}"></span>
						<span th:text="${notice.view}"></span>
					</header>
					<div th:if="${check}" class="d-flex justify-content-end mt-2">
						<a th:href=@{/notice/rewrite/(bid=${notice.bid})}>수정</a>
						<span>|</span>
						<a th:href=@{/notice/delete/(bid=${notice.bid})}>삭제</a>
					</div>
					<textarea style="width: 100%; height: 700px" th:text="${notice.content}" disabled> </textarea>
				</div>
			</div>
		</div>
		<div th:replace="fragments/footer.html :: fragment-footer"></div>
	</body>
</html>
