
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>GUKBIT</title>
	<div th:replace="fragments/head.html :: fragment-head"></div>
</head>

<body>
<div th:replace="fragments/header.html :: fragment-header"></div>
<div class="container-fluid p-0 m-0">
	<div th:replace="fragments/nav.html :: fragment-nav"></div>
</div>

<section class="container write-form-wrapper mt-5" style="padding-left: 10%; padding-right: 10%">
	<!--여기부터 폼 시작-->
	<form id="board" th:action="@{/notice/create}" method="post">
		<div class="input-group mb-3">
			<input type="text" class="form-control" id="loginId" name="regId" th:value="${session.loginUser.userId}" hidden readonly />
			<input type="title" class="form-control" id="noticeTitle" placeholder="제목을 입력해 주세요" />
		</div>
		<div class="mb-3">
			<textarea class="form-control" id="noticeContent" rows="15" placeholder="내용을 입력해 주세요"></textarea>
			<input type="date" class="form-control" id="date" name="date" hidden />
		</div>
		<div class="row">
			<div class="col-6"></div>
			<div class="col-3">
				<button onclick="writeSubmit()" type="button" class="btn btn-primary w-100">작성</button>
			</div>
			<div class="col-3">
				<button type="reset" class="btn btn-primary w-100">취소</button>
			</div>
		</div>
	</form>
	<!--여기가 폼 끝-->
</section>

<div class="container">
	<div th:replace="fragments/footer.html :: fragment-footer"></div>
</div>
<script th:src="@{/js/navigo.js}"></script>
<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"
></script>
</body>
</html>

<script th:inline="javascript">
	//게시판 등록
	function writeSubmit() {
		//step2. 게시판 등록

		var today = new Date();

		var year = today.getFullYear();
		var month = ('0' + (today.getMonth() + 1)).slice(-2);
		var day = ('0' + today.getDate()).slice(-2);

		var dateString = year + '-' + month + '-' + day + '   ';

		var hours = ('0' + today.getHours()).slice(-2);
		var minutes = ('0' + today.getMinutes()).slice(-2);
		var seconds = ('0' + today.getSeconds()).slice(-2);

		var timeString = hours + ':' + minutes + ':' + seconds;
		console.log(dateString + timeString);

		var params = {
			title: $.trim($('#noticeTitle').val()),
			content: $.trim($('#noticeContent').val()),
			author: $('#loginId').val(),
			date: dateString + timeString,
			view: 0,
			visible:1,
			recommend:0
		};

		console.log(params);

		if (params.title == '') {
			alert('제목을 입력해주세요.');
			return false;
		} else if (params.content == '') {
			alert('내용을 입력해주세요.');
			return false;
		}

		$.ajax({
			type: 'POST',
			url: '/notice/create',
			dataType: 'json',
			data: JSON.stringify(params),

			contentType: 'application/json',
			success: function (result) {
				alert('해당글이 정상적으로 등록되었습니다.');
				location.href = '/notice/list';
			},
			error: function (request, status, error) {},
		});
	}
</script>
