<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<div th:replace="fragments/head.html :: fragment-head"></div>
	<link rel="stylesheet" type="text/css" th:href="@{/css/signUp.css}" />
	<title>공지사항 리스트</title>
</head>

<body>
	<div th:replace="fragments/header.html :: fragment-header"></div>
	<div class="container-fluid p-0 m-0">
		<div th:replace="fragments/nav.html :: fragment-nav"></div>
	</div><br>
	<div class="container">
        <header>
            <h1>공지사항</h1>
        </header>
        <div class="row" style="width: 1275px;">
            <div class="col-xxl-2 offset-xxl-11 text-start d-flex justify-content-between" style="width: 131px;"><a href="#">최신순</a><a href="#">조회순</a></div>
        </div>
        <hr>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between" style="font-weight: bold;">
            <span>No.</span><span>제목</span><span>글쓴이</span><span>작성시간</span><span>조회수</span></li>

            <li class="list-group-item"><a class="page-link" href="notice"><span>[멀티캠퍼스][웹개발 풀스택 과정] 첫 공지사항</span></a></li>
            <li class="list-group-item"><span>List Group Item 3</span></li>
            <li class="list-group-item"><span>List Group Item 3</span></li>
            <li class="list-group-item"><span>List Group Item 3</span></li>
            <li class="list-group-item"><span>List Group Item 3</span></li>
            <li class="list-group-item"><span>List Group Item 3</span></li>
            <li class="list-group-item"><span>List Group Item 3</span></li>
            <li class="list-group-item"><span>List Group Item 3</span></li>
            <li class="list-group-item"><span>List Group Item 3</span></li>
        </ul>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row" style="width: 1100px;">
            <div class="col-xxl-9 offset-xxl-5" style="width: 236px;padding: 0px;height: 40px;">
                <nav style="width: 240px;">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                        <li class="page-item"><a class="page-link" href="#">7</a></li>
                        <li class="page-item"><a class="page-link" href="#">8</a></li>
                        <li class="page-item"><a class="page-link" href="#">9</a></li>
                        <li class="page-item"><a class="page-link" href="#">10</a></li>
                        <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script id="bs-live-reload" data-sseport="51263" data-lastchange="1649828592522" src="/js/livereload.js"></script>

	<div th:replace="fragments/footer.html :: fragment-footer"></div>
</body>

</html>