<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<div th:replace="fragments/head.html :: fragment-head"></div>
	<link rel="stylesheet" type="text/css" th:href="@{/css/signUp.css}" />
	<title>공지사항 리스트</title>
</head>

<body>
	<div th:replace="fragments/header.html :: fragment-header"></div>
	<div class="container-fluid p-0 m-0">
		<div th:replace="fragments/nav.html :: fragment-nav"></div>
	</div><br>
	<div class="container">
        <header>
            <h1>공지사항</h1>
        </header>
        <div class="row" style="width: 1275px;">
            <div class="col-xxl-2 offset-xxl-11 text-start d-flex justify-content-between" style="width: 131px;"><a href="#">최신순</a><a href="#">조회순</a></div>
        </div>
        <hr>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>제목</th>
                        <th>글쓴이</th>
                        <th>작성시간</th>
                        <th><i class="icon ion-eye"></i>조회수</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><a href="/notice">멀티캠퍼스][웹개발 풀스택 과정] 첫 공지사항</a><br></td>
                        <td>4딸라</td>
                        <td>2022-04-13</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>멀캠 공지사항</td>
                        <td>4딸라</td>
                        <td>2022-04-13</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>멀캠 공지사항</td>
                        <td>4딸라</td>
                        <td>2022-04-13</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>멀캠 공지사항</td>
                        <td>4딸라</td>
                        <td>2022-04-13</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>멀캠 공지사항</td>
                        <td>4딸라</td>
                        <td>2022-04-13</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>멀캠 공지사항</td>
                        <td>4딸라</td>
                        <td>2022-04-13</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>멀캠 공지사항</td>
                        <td>4딸라</td>
                        <td>2022-04-13</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>멀캠 공지사항</td>
                        <td>4딸라</td>
                        <td>2022-04-13</td>
                        <td>200</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row" style="width: 1100px;">
            <div class="col-xxl-9 offset-xxl-5" style="width: 236px;padding: 0px;height: 40px;">
                <nav style="width: 240px;">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                        <li class="page-item"><a class="page-link" href="#">7</a></li>
                        <li class="page-item"><a class="page-link" href="#">8</a></li>
                        <li class="page-item"><a class="page-link" href="#">9</a></li>
                        <li class="page-item"><a class="page-link" href="#">10</a></li>
                        <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script id="bs-live-reload" data-sseport="51263" data-lastchange="1649828592522" src="/js/livereload.js"></script>

	<div th:replace="fragments/footer.html :: fragment-footer"></div>
</body>

</html>