<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <div th:replace="fragments/head.html :: fragment-head"></div>
  <link rel="stylesheet" type="text/css" th:href="@{/css/signUp.css}"/>
  <title>회원가입</title>
</head>
<body>
<div th:replace="fragments/header.html :: fragment-header"></div>
<div class="container-fluid p-0 m-0">
  <div th:replace="fragments/nav.html :: fragment-nav"></div>
</div>

<div class="container form-wrap">
  <form id="signUp-form" class="needs-validation" method="post" th:action="@{/user/process_register}" th:object="${user}">
    <div class="id-form">
      <label for="userId" class="form-label pretendard label-font-weight">아이디</label>
      <div class="d-flex">
        <input type="text" class="form-control input-border" id="userId" th:field="*{userId}" required/>
        <input type="button" class="btn btn-primary w-25" value="중복확인" onclick="idCheck()">
      </div>
      <div class="feedback-id"></div>
    </div>
    <div class="pw-form mt-2">
      <label for="password" class="form-label pretendard label-font-weight">비밀번호</label>
      <input type="password" class="form-control input-border" id="password" th:field="*{password}" required
             minlength="6" maxlength="10">
      <div class="feedback-pw"></div>
    </div>
    <div class="pw-check-form mt-2">
      <label for="pwCheck" class="form-label pretendard label-font-weight">비밀번호 확인</label>
      <input
          type="password"
          class="form-control input-border"
          id="pwCheck"
      />
      <div class="feedback-pwcheck"></div>
    </div>
    <div class="email-form mt-2">
      <label for="email" class="form-label pretendard label-font-weight">E-mail</label>
      <input type="email" class="form-control input-border" id="email" th:field="*{email}" required>
      <div class="feedback-email"></div>
    </div>
    <div class="tel-form mt-2">
      <label for="tel" class="form-label pretendard label-font-weight">휴대전화</label>
      <input type="tel" class="form-control input-border" id="tel" th:field="*{tel}" required>
      <div class="feedback-tel"></div>
    </div>
    <input type="submit" class="btn btn-primary w-100 mt-3" value="가입하기">
  </form>
</div>
<div th:replace="fragments/footer.html :: fragment-footer"></div>
<script th:src="@{/js/navigo.js}"></script>

<script th:inline="javascript">

function idCheck() {
  let id = $("#userId").val()
  if(id.search(/\s/) != -1) {
    alert("아이디에는 공백이 들어갈 수 없습니다.");
  } else {
    if(id.trim().length != 0) {
  $.ajax({
      async : true,
      type : 'POST',
      data: id,
      url: "/user/idCheck",
      dataType: "json",
      contentType: "application/json; charset=UTF-8",
      success: function(count) {
        if(count > 0) {
          alert("해당 아이디가 이미 존재합니다.");
          $("#submit").attr("disabled", "disabled");
          window.location.reload();
        } else {
          alert("사용가능한 아이디입니다.");
          $("#submit").removeAttr("disabled");
        }
      },
      error: function(error) {
        alert("아이디를 입력해주세요.");
      }
    });
  } else {
        alert("아이디를 입력해주세요.");
      }
    }
  }
</script>

</body>
</html>
