<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<div th:replace="fragments/head.html :: fragment-head"></div>
		<link rel="stylesheet" type="text/css" th:href="@{/css/signUp.css}" />
		<script th:src="@{/js/signUpFormCheck.js}"></script>
		<title>회원가입</title>
	</head>
	<body>
		<div th:replace="fragments/header.html :: fragment-header"></div>
		<div class="container-fluid p-0 m-0">
			<div th:replace="fragments/nav.html :: fragment-nav"></div>
		</div>

		<div class="container form-wrap px-5">
			<form
				id="signUp-form"
				class="needs-validation"
				method="post"
				th:action="@{/user/process_register}"
				th:object="${user}"
			>
				<div class="id-form">
					<label for="userId" class="form-label pretendard label-font-weight">아이디</label>
					<div class="d-flex">
						<input type="text" class="form-control input-border" id="userId" th:field="*{userId}" />
						<input
							type="button"
							class="btn w-25"
							value="중복확인"
							style="background-color: #01a0ff; color: white"
							onclick="idCheck()"
						/>
						<input type="hidden" name="checked_id" value="" />
					</div>
					<div class="feedback-id"></div>
				</div>
				<div class="pw-form mt-2">
					<label for="password" class="form-label pretendard label-font-weight">비밀번호</label>
					<input
						type="password"
						class="form-control input-border"
						id="password"
						th:field="*{password}"
						minlength="6"
						maxlength="12"
					/>
					<div class="feedback-pw"></div>
				</div>
				<div class="pw-check-form mt-2">
					<label for="pwCheck" class="form-label pretendard label-font-weight">비밀번호 확인</label>
					<input type="password" class="form-control input-border" id="pwCheck" minlength="6" maxlength="12" />
					<div class="feedback-pwcheck"></div>
				</div>
				<div class="email-form mt-2">
					<label for="email" class="form-label pretendard label-font-weight">E-mail</label>
					<input type="email" class="form-control input-border" id="email" th:field="*{email}" required />
					<div class="feedback-email"></div>
				</div>
				<div class="tel-form mt-2">
					<label for="tel" class="form-label pretendard label-font-weight">휴대전화</label>
					<input type="tel" class="form-control input-border" id="tel" th:field="*{tel}" required />
					<div class="feedback-tel"></div>
				</div>
				<input
					type="submit"
					class="btn w-100 mt-3"
					style="background-color: #01a0ff; color: white"
					value="가입하기"
					id="submit"
				/>
			</form>
		</div>
		<div th:replace="fragments/footer.html :: fragment-footer"></div>
		<script th:src="@{/js/navigo.js}"></script>
	</body>
</html>
