<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>GUKBIT</title>
    <div th:replace="fragments/head.html :: fragment-head"></div>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/academy/academy-compare.css}" />
</head>

<body>
    <div th:replace="fragments/header.html :: fragment-header"></div>
    <div th:replace="fragments/nav.html :: fragment-nav"></div>
    <div class="container academy_compare">
        <div style=" margin: 20px 0 20px 0"><a style="font-size: 24px;  font-weight: bold;"> 학원 비교 </a></div>
        <!-- 학원 모달 하는 부분 -->
        <div id="academySearchModal">

            <!-- 모달 맨윗부분 -->
            <div class="searchText"> 학원검색
            </div>
            <div class="close"><span class="material-icons">X</span>
            </div>


            <!-- 모달 검색부분 -->
            <div id="academySearchInput">
                <input type="text" id="academySearchBox">
                <input type="button" id="searchClick" value="검색">
            </div>


            <!-- 모달 출력부분 -->
            <div id="academySearchPrint">

                <div class="academySearchPrint1">
                    <span>입력하신 정보가 없습니다.</span>
                </div>

                <div class="academySearchPrint2" id="academyPrint">
                    <table class="academySearchTable">
                    </table>
                </div>

            </div>


        </div>
        <!-- 학원 출력 하는 부분 -->
        <div class="academyCompareBlock">


            <!-- 학원 입력없을 시 출력 하는 부분 -->
            <div class="compareSearchClick1">
                <div><img src="../images/domain_add_FILL0_wght400_GRAD0_opsz48.svg"  style=" height : 35px; width: 35px; "></div>
            </div>


            <!-- 학원 입력되었을 시 출력 하는 부분 -->
            <div class="compareNum1">
            </div>


            <!-- 중간 나눠주는 영역 -->
            <div class="compareCenterBlock">
                <div></div>
            </div>


            <!-- 학원 입력없을 시 출력 하는 부분 -->
            <div class="compareSearchClick2">
                <div><img src="../images/domain_add_FILL0_wght400_GRAD0_opsz48.svg"  style=" height : 35px; width: 35px; "></div>
            </div>


            <!-- 학원 입력되었을 시 출력 하는 부분 -->
            <div class="compareNum2">
            </div>
        </div>
    </div>
    <div class="backon"></div>
    <div class="container">
        <div th:replace="fragments/footer.html :: fragment-footer"></div>
    </div>
    <script type="text/javascript" th:src="@{/js/academy/academy-compare.js}"></script>
</body>


</html>